<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Folc Styleguide</title>
	
	<!-- Importing Google Fonts: Alegreya and Lato -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Alegreya&family=Lato&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{{ cssUrl }}/main.css">
</head>

<body class="mobile-wrapper">
	<div class="container mt-4">
		<h1>Folc Styleguide</h1>
		<div class="row mt-3">
			{{#each folders as |folder|}}
			<div class="col-12 col-lg-6 mb-3 d-flex flex-column align-items-start">
				<h2 class="h4">{{titleCase folder}}</h2>
				{{#with (lookup ../filenames folder) as |names|}}
				{{#each names as |file|}}
				<a href="{{lookup file 'path'}}">{{lookup file 'name'}}</a>
				{{/each}}
				{{/with}}
			</div>
			{{/each}}
		</div>
	</div>
</body>

</html>
