<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Action Cards" }}
    </head>
    <body>
        {{> page-title text="Action Cards" }}
        <div class="container mt-4">
            <div class="row">
                <div class="col-12 col-lg-4 mb-2">
                    <div class="card card--action-getinvolved h-100">
                        <div class="card-body p-3 p-lg-4 border">
                            <h3 class="text-center h2">Get Involved </h3>
                            <div class="row mt-5">
                                <div class="col-6"><a href="#" class="a-link  with-prefix">Contributors </a></div>
                                <div class="col-6"><a href="#" class="a-link  with-prefix">Contributors </a></div>
                                <div class="col-6"><a href="#" class="a-link  with-prefix">FAQ </a></div>
                                <div class="col-6"><a href="#" class="a-link  with-prefix">FAQ </a></div>
                                <div class="col-6"><a href="#" class="a-link  with-prefix">How to edit a page </a></div>
                                <div class="col-6"><a href="#" class="a-link  with-prefix">How to edit a page </a></div>
                                <div class="col-6"><a href="#" class="a-link  with-prefix">Policies </a></div>
                                <div class="col-6"><a href="#" class="a-link  with-prefix">Policies </a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 mb-2">
                    <div class="card card--action-donate h-100">
                        <div class="card-body p-3 p-lg-4 border d-flex flex-column">
                            <h3 class="text-center h2">Sustain Folc </h3>
                            <p class="text-center text-muted mt-4">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo. </p>
                            <div class="mt-5 d-flex justify-content-end">
                                <img src="../images/action-card-donate-cards.png" class="figure-img img-fluid mb-0 mr-1" alt="Card logos">
                                <a href="#" class="btn text-uppercase btn-secondary text-white px-4 float-end">DONATE </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 mb-2">
                    <div class="card card--action-newsletter h-100">
                        <div class="card-body p-3 p-lg-4 border">
                            <div class="text-center mb-3">
                                <h3 class="text-center h2">Newsletter </h3>
                                <p class="text-muted">Accusantium doloremque laudantium totam rem. </p>
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-10 m-auto">
                                    <div class="m-auto">
                                        <div class="input-group mb-2"><input type="text" class="form-control  ps-3" placeholder="Insert your email here"></div>
                                        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" id="privacy-policy-tick"><label class="custom-control-label small" for="privacy-policy-tick">I have read and accepted the “Privacy Policy”</label></div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5 d-flex justify-content-end"><a class="btn text-uppercase btn-secondary text-white px-4">Subscribe </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> js jquery=true popper=true bootstrap=true main=true }}
    </body>
</html>