<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Action Cards" }}
    </head>
    <body>
        {{> page-title text="Action Cards" }}
        <div class="container mt-4">
            {{> compounds/action-cards}}
        </div>
        {{> js jquery=true popper=true bootstrap=true main=true }}
    </body>
</html>