<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Article" }}
    </head>
    <body>
        <div class="container mt-4">
            <div class="flex-fill">
                <h1>Article</h1>
            </div>
            <hr>
        </div>
        <div class="container mt-4">
            <article>
                <div class="row">
                    <div class="col-12 col-lg-11">
                        <h1 class="h2"> Budima Dance</h1>
                        <p class="my-4">The Budima Dance is a warrior dance performed all year round by the inhabitants of Zambezi/Gwembe Valley in the Southern Province. </p>
                        <h2 class="h3"> Anthropology</h2>
                        <p>  The Budima Dance is a warrior dance performed all year round by the inhabitants of Zambezi/Gwembe Valley in the Southern Province. Arriving from <a href="#" class="a-link">Liberia </a> in the 16th century, the Wee People carry out this traditional dance on a number of sombre and spiritual occasions, especially during traditional ceremonies, funeral processions, weddings, initiation ceremonies, the installation of chiefs, thanksgiving, harvest celebrations and ritual activities. </p>
                        <p>  The dance is performed with spears, whistles, walking sticks, knobkerries, flutes, ceremonial axes, shields, horns/trumpets, drums and rattles. The performance includes men, women and children: the men represent skilled soldiers or fighters with long spears jumping up and down while running in and out of the inner circle of dangers, flourishing their spears in mimic of war, while others blow the sets of one-note antelope horn flutes / trumpets and shout chants. Others play big and small drums. The women – adorned in beaded necklaces and bangles, with rattles on their feet – sing along and dance energetically. </p>
                    </div>
                </div>
            </article>
        </div>
    </body>
</html>