<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Article Items" }}
    </head>
    <body>
        <div class="container mt-4">
            <div class="flex-fill">
                <h1>Article Items</h1>
            </div>
        </div>
        <div class="container mt-4">
            <div class="row">
                <div class="article-item">
                    <div class="article-item-image"><img src="https://via.placeholder.com/233x233" alt=""></div>
                    <div class="article-item-title">
                        <h4 class="">Festive cycle around the devotion and worship towards Saint John the Baptis </h4>
                    </div>
                    <div class="article-item-category">
                        <p class="mb-4 mb-lg-0"><span class="text-muted">Category: </span><span class="badge badge-padding bg-dance">Dance </span></p>
                    </div>
                    <div class="article-item-nation">
                        <dl class="m-0 mt-4 mt-lg-0">
                            <dt class="d-inline-block me-1 text-muted">Nation:</dt>
                            <dd class="d-inline-block me-1 mb-0"><a href="#" class="a-link">Zambia </a><span>, </span></dd>
                            <dd class="d-inline-block me-1 mb-0"><a href="#" class="a-link">Ghana </a><span>, </span></dd>
                            <dd class="d-inline-block me-1 mb-0"><a href="#" class="a-link">Sri Lanka </a></dd>
                        </dl>
                    </div>
                    <div class="article-item-region">
                        <dl class="m-0">
                            <dt class="d-inline-block me-1 text-muted">Region: </dt>
                            <dd class="d-inline-block me-1 mb-0"><a href="#" class="a-link">Zambesi </a><span>, </span></dd>
                            <dd class="d-inline-block me-1 mb-0"><a href="#" class="a-link">Ashanti </a><span>, </span></dd>
                            <dd class="d-inline-block me-1 mb-0"><a href="#" class="a-link">Sabaragamuwa </a></dd>
                        </dl>
                    </div>
                    <div class="article-item-description">
                        <p class="mt-4">The Budima Dance is a warrior dance performed all year round by the inhabitants of Zambezi/Gwembe Valley
                            in the Southern Province. Arriving from Liberia in the 16th century, the Wee People carry out this
                            traditional dance on a number of sombre and spiritual occasions, especially during traditional ceremonies,
                            funeral processions, weddings, initiation ceremonies… <a href="#" class="a-link  with-prefix">Full Article </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>