<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Categories Tab" }}
    </head>
    <body>
        {{> page-title text="Categories Tab" }}
        {{> compounds/categories-tab }}
        {{> js jquery=true popper=true bootstrap=true main=true }}
    </body>
</html>


