<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Categories" }}
    </head>
    <body>
        {{> page-title text="Categories" }}
        <div class="container mt-4">
            <div class="flex-fill">
                <h3>Categories - List</h3>
            </div>
            <div class="row">
                <div class="col-md-8 col-lg-4">
                    {{> compounds/categories-list}} 
                </div>
            </div>
        </div>

        <div class="container mt-4">
            <h3>Categories - Grid</h3>
        </div>
        {{> compounds/categories-grid}}

    </body>
</html>