<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Countries Dropdown" }}
    </head>
    <body>
        {{> page-title text="Countries Dropdown" }}
        <div class="container mt-4">
            <div class="my-4 pb-4">
                <div class="container-fluid px-0">
                    <div class="container-fluid px-0">
                        <ul class="navbar-nav px-0 mb-2 mb-lg-0 me-4">
                            <div class="nav-item dropdown mx-1">
                                <a href="#" class="nav-link dropdown-toggle py-4" data-toggle="dropdown" data-target="false" role="button" aria-expanded="false" data-auto-close="false" data-placement="bottom">COUNTRIES</a>
                                <div class="dropdown-menu w-100 dropdown-expand-xl p-4 border-0 bg-lighter-gray mw-vw-75" style="">
                                    {{> compounds/countries-tabs }}
                                </div>
                            </div>
                        </ul>
                    </div>
                    {{!-- 
                    <ul class="navbar-nav px-0 mb-2 mb-lg-0 me-4">
                        <div class="nav-item dropdown mx-1">
                            <a href="#" class="nav-link dropdown-toggle py-4 show" data-toggle="dropdown" data-target="false" role="button" aria-expanded="false" data-auto-close="false" data-placement="bottom">COUNTRIES</a>
                            <ul class="dropdown-menu w-100 dropdown-expand-xl p-4 border-0 bg-lighter-gray mw-vw-75 show" data-popper-placement="bottom-start">
                                <ul class="nav nav-pills nav-fill border-bottom-0 m-n2" id="countries-tab" role="tablist">
                                    <li class="nav-item mx-2 mb-2 border-active active"><a href="#countries-africa" class="nav-link active" data-toggle="tab" data-target="#countries-africa" role="tab">Africa</a></li>
                                    <li class="nav-item mx-2 mb-2 border-active"><a href="#countries-asia" class="nav-link" data-toggle="tab" data-target="#countries-asia" role="tab">Asia</a></li>
                                    <li class="nav-item mx-2 mb-2 border-active"><a href="#countries-europe" class="nav-link" data-toggle="tab" data-target="#countries-europe" role="tab">Europe</a></li>
                                    <li class="nav-item mx-2 mb-2 border-active"><a href="#countries-americas" class="nav-link" data-toggle="tab" data-target="#countries-americas" role="tab">Americas</a></li>
                                    <li class="nav-item mx-2 mb-2 border-active"><a href="#countries-oceania" class="nav-link" data-toggle="tab" data-target="#countries-oceania" role="tab">Oceania</a></li>
                                </ul>
                                <div class="tab-content pt-3 bg-gray" id="countries-tabContent">
                                    <div class="tab-pane bg-white show active" id="countries-africa" role="tabpanel">
                                        <div class="tab-pane bg-white p-5" id="countries-africa" role="tabpanel">
                                            <div class="d-flex flex-row flex-lg-column flex-wrap dropdown-country-lg-height-375">
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Albania (18) </a>
                                                </div>
                                                <div class="w-100 w-lg-auto">
                                                    <a href="#" class="a-link d-inline-block">Andorra (2) </a>
                                                </div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Armenia (6) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Austria (19) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Azerbaijan (4) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Belarus (3) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Belgium (14) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Bosnia and Herzegovina (4) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Bulgaria (11) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Croatia (3) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Cyprus (3) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Albania (18) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Andorra (2) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Armenia (6) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Austria (19) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Azerbaijan (4) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Belarus (3) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Belgium (14) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Bosnia and Herzegovina (4) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Bulgaria (11) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Croatia (3) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Cyprus (3) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Albania (18) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Andorra (2) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Armenia (6) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Austria (19) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Azerbaijan (4) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Belarus (3) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Belgium (14) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Bosnia and Herzegovina (4) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Bulgaria (11) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Croatia (3) </a></div>
                                                <div class="w-100 w-lg-auto"><a href="#" class="a-link d-inline-block">Cyprus (3) </a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane bg-white show" id="countries-asia" role="tabpanel">
                                        <div class="tab-pane bg-white" id="countries-asia" role="tabpanel">
                                            <div class="p-5">
                                                <div class="d-flex flex-row flex-lg-column flex-wrap dropdown-country-lg-height-375">
                                                    <div><a href="#" class="a-link d-inline-block">Armenia (6) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Austria (19) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Azerbaijan (4) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Belarus (3) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Belgium (14) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Bosnia and Herzegovina (4) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Bulgaria (11) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Croatia (3) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Cyprus (3) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Albania (18) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Andorra (2) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Armenia (6) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Austria (19) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Azerbaijan (4) </a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane bg-white show" id="countries-europe" role="tabpanel">
                                        <div class="tab-pane show active bg-white" id="countries-europe" role="tabpanel">
                                            <div class="p-5">
                                                <div class="d-flex flex-row flex-lg-column flex-wrap dropdown-country-lg-height-375">
                                                    <div><a href="#" class="a-link d-inline-block">Austria (19) </a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane bg-white show" id="countries-americas" role="tabpanel">
                                        <div class="tab-pane bg-white" id="countries-americas" role="tabpanel">
                                            <div class="p-5">
                                                <div class="d-flex flex-row flex-lg-column flex-wrap dropdown-country-lg-height-375">
                                                    <div><a href="#" class="a-link d-inline-block">Andorra (2) </a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane bg-white show" id="countries-oceania" role="tabpanel">
                                        <div class="tab-pane bg-white" id="countries-oceania" role="tabpanel">
                                            <div class="p-5">
                                                <div class="d-flex flex-row flex-lg-column flex-wrap dropdown-country-lg-height-375">
                                                    <div><a href="#" class="a-link d-inline-block">Albania (18) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Andorra (2) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Armenia (6) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Austria (19) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Azerbaijan (4) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Belarus (3) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Belgium (14) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Bosnia and Herzegovina (4) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Bulgaria (11) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Croatia (3) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Cyprus (3) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Albania (18) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Andorra (2) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Armenia (6) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Austria (19) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Azerbaijan (4) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Belarus (3) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Belgium (14) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Bosnia and Herzegovina (4) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Bulgaria (11) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Croatia (3) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Cyprus (3) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Albania (18) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Andorra (2) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Armenia (6) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Austria (19) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Azerbaijan (4) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Belarus (3) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Belgium (14) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Bosnia and Herzegovina (4) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Bulgaria (11) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Croatia (3) </a></div>
                                                    <div><a href="#" class="a-link d-inline-block">Cyprus (3) </a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
            --}}
        </div>
        {{> js jquery=true popper=true bootstrap=true main=true }}
    </body>
</html>