<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Countries Dropdown" }}
    </head>
    <body>
        {{> page-title text="Countries Dropdown" }}
        <div class="container mt-4">
            <div class="my-4 pb-4">
                <div class="container-fluid px-0">
                    <div class="container-fluid px-0">
                        <ul class="navbar-nav px-0 mb-2 mb-lg-0 me-4">
                            <div class="nav-item dropdown mx-1">
                                <a href="#" class="nav-link dropdown-toggle py-4" data-toggle="dropdown" data-flip="false" data-target="false" role="button" aria-expanded="false" data-auto-close="false" data-placement="bottom">COUNTRIES</a>
                                <div class="dropdown-menu avoid-auto-close w-100 dropdown-expand-xl p-4 border-0 bg-lighter-gray mw-vw-75" style="">
                                    {{> compounds/countries-tabs }}
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {{> js jquery=true popper=true bootstrap=true main=true }}
    </body>
</html>