<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Countries Dropdown" }}
    </head>
    <body>
        {{> page-title text="Countries Dropdown" }}
        <div class="container mt-4">
            <div class="my-4 pb-4">
                <nav class="navbar navbar-expand-lg mx-1">
                    <div class="navbar-collapse position-relative d-md-block flex-column flex-md-row">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown dropdown--countries py-1 py-md-3 m-1 m-md-0">
                                <a class="nav-link nav-link dropdown-toggle text-uppercase text-dark my-1 ml-1 my-md-0 ml-md-0"  data-toggle="dropdown" href="#">Countries</a>
                                <div class="dropdown-menu avoid-auto-close pb-0 w-100 bg-transparent mt-0 rounded-0 pt-0 border-0" style="">
                                    {{> compounds/countries-tab-small}}
                                </div>
                            </li>                                 
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        {{> js jquery=true popper=true bootstrap=true main=true }}
    </body>
</html>