<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Countries Tabs" }}
    </head>
    <body>
        {{> page-title text="Countries Tabs" }}
        <div class="container py-5 bg-lighter-gray my-4">
            {{> compounds/countries-tabs }}
        </div>
        <br>
        <h4 class="container">Small (for the menu)</h4>
        <div class="container py-5 bg-lighter-gray my-4">
            {{> compounds/countries-tabs-small }}
        </div>
        {{> js jquery=true popper=true bootstrap=true main=true }}
    </body>
</html>