<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Definition Lists" }}
    </head>
    <body>
        <div class="container mt-4">
            <div class="flex-fill">
                <h1>Definition Lists</h1>
            </div>
            <hr>
        </div>
        <div class="container">
            <h2>Normal definition list</h2>
            <dl class="m-0">
                <dt class="d-inline-block me-1">Nation:</dt>
                <dd class="d-inline-block me-1 mb-0"><a href="#" class="a-link">Zambia </a><span>, </span></dd>
                <dd class="d-inline-block me-1 mb-0"><a href="#" class="a-link">Ghana </a><span>, </span></dd>
                <dd class="d-inline-block me-1 mb-0"><a href="#" class="a-link">Sri Lanka </a></dd>
            </dl>
            <hr>
            <h2>Muted definition list</h2>
            <dl class="m-0">
                <dt class="d-inline-block me-1 text-muted">Region: </dt>
                <dd class="d-inline-block me-1 mb-0"><a href="#" class="a-link">Zambesi </a><span>, </span></dd>
                <dd class="d-inline-block me-1 mb-0"><a href="#" class="a-link">Ashanti </a><span>, </span></dd>
                <dd class="d-inline-block me-1 mb-0"><a href="#" class="a-link">Sabaragamuwa </a></dd>
            </dl>
        </div>
    </body>
</html>