<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="SDG Dropdown" }}
    </head>
    <body>
        {{> page-title text="SDG Dropdown" }}
        <div class="container mt-4">
            <nav class="navbar d-block">
                <ul class="navbar-nav px-0 mb-2 mb-lg-0 me-4">
                    <li class="nav-item dropdown dropdown--sdg w-custom-px-lg-1 py-3  py-md-2 px-md-1">
                        <a class="nav-link nav-link dropdown-toggle text-uppercase text-dark px-md-1"  data-toggle="dropdown" href="#">SDG</a>
                        <div class="dropdown-menu avoid-auto-close bg-transparent mt-0 rounded-0 pt-0 border-0" style="">
                            {{> compounds/sdg-dropdown}}
                        </div>                    
                    </li>
                </ul>
            </nav>
        </div>
        {{> js jquery=true popper=true bootstrap=true main=true }}
    </body>
</html>