// category card start todo
.categories{
  &--grid{
    @include media-breakpoint-up(lg) {
      div[class^="col-"]{
        aspect-ratio: 1;
        height:100%;
        justify-content: center;
      }
    }
  }

  &--list{
    span{
      padding-left: 2em;
    }
  }

  .category-card {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    outline-offset: -8px;
    transition: all 0.1s ease-in;
    outline: 8px solid rgba($white, 0);
    height: 85px;
  
    .category-text {
      width: 75%;
      font-size: 1.5em;
      text-align: start;
  
      @include media-breakpoint-up(lg) {
        width: 100%;
        font-size: 1.68em;
      }
    }
  
    &:not(.small) {
      .category-text {
        @include media-breakpoint-up(lg) {
          text-align: center;
        }
      }
    }
  
    &:hover {
      transition: outline-offset 0.1s ease-out;
  
      outline-offset: -16px;
      outline: 8px solid $white;
    }
  
    &:before {
      content: " ";
      background-repeat: no-repeat;
      background-size: cover;
      transition: all 1s ease-out;
  
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  
    &.bg-art:before {
      background-size: 100px;
      background-position: -30px 10px;
      background-image: url(asset-url("category-art.svg"));
    }
  
    &.bg-art:not(.small):before {
      @include media-breakpoint-up(lg) {
        background-position: 150px 50%;
        background-size: 100%;
      }
    }
  
    &.bg-art:hover:before {
      background-size: 110px;
      background-position: -20px -5px;
    }
  
    &.bg-art:not(.small):hover:before {
      @include media-breakpoint-up(lg) {
        background-position: 110px 50%;
        background-size: 110%;
      }
    }
  
    &.bg-belief:before {
      margin-left: -90px;
  
      background-image: url(asset-url("category-belief.svg"));
      background-size: 170px;
      background-position: 95% 0px;
  
      transform: scaleX(-1);
      opacity: 0.5;
    }
  
    &.bg-belief:not(.small):before {
      @include media-breakpoint-up(lg) {
        margin-left: 0;
        background-position: 90px 50%;
        background-size: 100%;
        opacity: 0.2;
        transform: scaleX(1);
      }
    }
  
    &.bg-belief:hover:before {
      background-size: 180px;
      background-position: 90% -10px;
    }
  
    &.bg-belief:not(.small):hover:before {
      @include media-breakpoint-up(lg) {
        background-position: 60px 50%;
        background-size: 110%;
      }
    }
  
    &.bg-craftmanship:before {
      background-image: url(asset-url("category-craftmanship.svg"));
      background-size: 100px;
      background-position: -30px center;
      opacity: 0.5;
    }
  
    &.bg-craftmanship:not(.small):before {
      @include media-breakpoint-up(lg) {
        background-position: 90px 50%;
        background-size: 115%;
        opacity: 0.2;
      }
    }
  
    &.bg-craftmanship:hover:before {
      background-size: 110px;
      background-position: -20px center;
    }
  
    &.bg-craftmanship:not(.small):hover:before {
      @include media-breakpoint-up(lg) {
        background-position: 60px 50%;
        background-size: 125%;
      }
    }
  
    &.bg-dance:before {
      background-image: url(asset-url("category-dance.svg"));
      background-size: 90px;
      background-position: 5px -60px;
      opacity: 0.5;
    }
  
    &.bg-dance:not(.small):before {
      @include media-breakpoint-up(lg) {
        background-position: 5px 110%;
        background-size: 100%;
        opacity: 0.2;
      }
    }
  
    &.bg-dance:hover:before {
      background-size: 100px;
      background-position: 0px -40px;
    }
  
    &.bg-dance:not(.small):hover:before {
      @include media-breakpoint-up(lg) {
        background-position: -10px 90%;
        background-size: 110%;
      }
    }
  
    &.bg-entertainment:before {
      background-image: url(asset-url("category-entertainment.svg"));
      background-size: 135px;
      background-position: -25px -75px;
      opacity: 0.5;
    }
  
    &.bg-entertainment:not(.small):before {
      @include media-breakpoint-up(lg) {
        background-position: -40px 100%;
        background-size: 80%;
        transform: scaleX(-1);
        opacity: 0.2;
      }
    }
  
    &.bg-entertainment:hover:before {
      background-size: 135px;
      background-position: -5px -65px;
    }
  
    &.bg-entertainment:not(.small):hover:before {
      @include media-breakpoint-up(lg) {
        background-position: -10px 90%;
        background-size: 90%;
      }
    }
  
    &.bg-foodways:before {
      background-image: url(asset-url("category-foodways.svg"));
      background-size: 150px;
      background-position: -60px -10px;
      opacity: 0.5;
    }
  
    &.bg-foodways:not(.small):before {
      @include media-breakpoint-up(lg) {
        background-position: 110px 50%;
        background-size: 100%;
        opacity: 0.2;
      }
    }
  
    &.bg-foodways:hover:before {
      background-size: 160px;
      background-position: -45px -20px;
    }
  
    &.bg-foodways:not(.small):hover:before {
      @include media-breakpoint-up(lg) {
        background-position: 80px 50%;
        background-size: 110%;
      }
    }
  
    &.bg-music:before {
      margin-top: 15px;
      margin-left: -50px;
  
      background-image: url(asset-url("category-music.svg"));
      background-size: 130px;
      transform: scaleX(-1) rotateZ(-10deg);
      background-position: 97% bottom;
      opacity: 0.5;
    }
  
    &.bg-music:not(.small):before {
      @include media-breakpoint-up(lg) {
        margin-top: 0;
        margin-left: 0;
  
        background-position: 110px -10px;
        background-size: 80%;
        transform: rotateZ(10deg);
        opacity: 0.2;
      }
    }
  
    &.bg-music:hover:before {
      background-size: 140px;
      background-position: 92% 90%;
    }
  
    &.bg-music:not(.small):hover:before {
      @include media-breakpoint-up(lg) {
        background-position: 80px -10px;
        background-size: 90%;
      }
    }
  
    &.bg-ritual:before {
      background-image: url(asset-url("category-ritual.svg"));
      background-size: 110px;
      transform: scaleX(-1);
      background-position: right -50px;
      opacity: 0.5;
    }
  
    &.bg-ritual:not(.small):before {
      @include media-breakpoint-up(lg) {
        background-position: 185px 0;
        background-size: 70%;
        opacity: 0.2;
        transform: none;
      }
    }
  
    &.bg-ritual:hover:before {
      background-size: 120px;
      background-position: 96% -40px;
    }
  
    &.bg-ritual:not(.small):hover:before {
      @include media-breakpoint-up(lg) {
        background-position: 135px 0;
        background-size: 80%;
      }
    }
  
    &.bg-verbal:before {
      background-image: url(asset-url("category-verbal.svg"));
      background-size: 90px;
      background-position: 10px -60px;
      opacity: 0.5;
    }
  
    &.bg-verbal:not(.small):before {
      @include media-breakpoint-up(lg) {
        background-size: 60%;
        background-position: center;
        opacity: 0.2;
      }
    }
  
    &.bg-verbal:hover:before {
      background-size: 110px;
    }
  
    &.bg-verbal:not(.small):hover:before {
      @include media-breakpoint-up(lg) {
        background-size: 70%;
        background-position: 70% center;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &.dropdown-expand-lg {
      width: 430px !important;
    }
  }
}
