.nav-dropdown-category {
  height: 85px;
}

.nav-pills {
  .nav-link {
    background-color: $white;
  }
}

@include media-breakpoint-up(lg) {
  .dropdown-expand-lg {
    width: 430px !important;
  }
}

@include media-breakpoint-up(xl) {
  .dropdown-expand-xl {
    width: 1131px;
  }
}

@include media-breakpoint-up(lg) {
  .w-lg-auto {
    width: auto !important;
  }

  .dropdown-country-lg-height-375 {
    max-height: 375px;
  }
}