.input-group{
    .input-group-prepend + .form-control {
    border-left: 0;
    }
}

.has-search {
    .form-control {
        padding-left: 2.7em;

        @include media-breakpoint-down(md) {
            padding: 1.4em 1em 1.4em 2.7em;
        }
    }
    .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 3.4em;
        line-height: 2.5em;
        opacity: .5;
        text-align: center;
        pointer-events: none;

        svg{
            width: 1.2em;
        }
    }
}