.input-group{
    .input-group-prepend + .form-control {
    border-left: 0;
    }
}

.has-search {
    .form-control {
        padding-left: 2.7em;

        @include media-breakpoint-down(md) {
            padding: 1.4em 1em 1.4em 2.7em;
        }
    }
    .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 3.4em;
        line-height: 2.5em;
        opacity: .5;
        text-align: center;
        pointer-events: none;

        svg{
            width: 1.2em;
        }
    }
}

.custom-select {
    &.arrow-white {
        background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\' id=\'eEV6r2zfSZ31\' viewBox=\'0 0 40 40\' shape-rendering=\'geometricPrecision\' text-rendering=\'geometricPrecision\'%3E%3Cpolygon points=\'0,-10.134469 8.776708,5.067235 -8.776708,5.067235 0,-10.134469\' transform=\'matrix%28-2.037821 0 0-1.664655 20 18.012227%29\' fill=\'%23fff\' stroke-width=\'0\'/%3E%3C/svg%3E');
    }
}

textarea{
    border: $input-border-width solid $input-border-color !important;
    border-radius: 12px !important;
    padding: 1em;
}
.select2-selection--multiple, .select2-selection__choice, #input_18, .oo-ui-widget{
    border: $input-border-width solid $input-border-color !important;
    border-radius: 3.125rem !important;
}
.select2-selection__choice__remove, .select2-match-entire{
    font-size:.8em ;
}
#input_18{
    margin-bottom: 6px;
}
.oo-ui-widget{
    margin-right:0 !important;
}
.select2-selection__choice{
    padding: 0 5px;
    display:inline-flex;
}
.checkboxLabel {
    margin-right: 20px
}
table.formtable {
    border-spacing: 20px;
    border-collapse: separate;
}