<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Badges" }}
    </head>
    <body>
        <div class="container">
            <h1>Badges</h1>
            <hr>
        </div>
        <div class="container">
            <div class="mb-2"><span class="badge badge-padding text-white bg-art">Art </span></div>
            <div class="mb-2"><span class="badge badge-padding text-white bg-belief">Belief </span></div>
            <div class="mb-2"><span class="badge badge-padding text-white bg-craftmanship">Craftmanship </span></div>
            <div class="mb-2"><span class="badge badge-padding text-white bg-dance">Dance </span></div>
            <div class="mb-2"><span class="badge badge-padding text-white bg-entertainment">Entertainment </span></div>
            <div class="mb-2"><span class="badge badge-padding text-white bg-foodways">Foodways </span></div>
            <div class="mb-2"><span class="badge badge-padding text-white bg-music">Music </span></div>
            <div class="mb-2"><span class="badge badge-padding text-white bg-ritual">Ritual </span></div>
            <div class="mb-2"><span class="badge badge-padding text-white bg-verbal">Verbal </span></div>
            <div class="mb-2"><span class="badge badge-padding bg-transparent border border-secondary text-primary">Drums </span></div>
            <div class="mb-2"></div>
        </div>
    </body>
</html>