<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Badges" }}
    </head>
    <body>
        {{> page-title text="Badges" }}
        <div class="container">
            <div class="mb-2"><span class="badge bg-art">Art </span></div>
            <div class="mb-2"><span class="badge bg-belief">Belief </span></div>
            <div class="mb-2"><span class="badge bg-craftmanship">Craftmanship </span></div>
            <div class="mb-2"><span class="badge bg-dance">Dance </span></div>
            <div class="mb-2"><span class="badge bg-entertainment">Entertainment </span></div>
            <div class="mb-2"><span class="badge bg-foodways">Foodways </span></div>
            <div class="mb-2"><span class="badge bg-music">Music </span></div>
            <div class="mb-2"><span class="badge bg-ritual">Ritual </span></div>
            <div class="mb-2"><span class="badge bg-verbal">Verbal </span></div>
            <div class="mb-2"><span class="badge bg-transparent border border-secondary text-primary">Drums </span></div>
            <div class="mb-2"></div>
        </div>
    </body>
</html>