<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Buttons" }}
    </head>
    <body>
        {{> page-title text="Buttons" }}
        <div class="container">
            <div class="mb-2"><a class="btn text-uppercase btn-primary text-white text-white">Primary </a></div>
            <div class="mb-2"><a class="btn text-uppercase btn-secondary text-white">Secondary </a></div>
            <div class="mb-2"><a class="btn text-uppercase btn-info text-white">Info </a></div>
            <div class="mb-2"><a class="btn text-uppercase btn-warning text-white">Warning </a></div>
            <div class="mb-2"><a class="btn text-uppercase btn-danger text-white">Danger </a></div>
            <div class="mb-2"><a class="btn text-uppercase btn-outline-primary">Outline Primary </a></div>
            <div class="mb-2"><a class="btn text-uppercase btn-outline-secondary">Outline Secondary </a></div>
            <div class="mb-2"><a class="btn text-uppercase btn-outline-info">Outline Info </a></div>
            <div class="mb-2"><a class="btn text-uppercase btn-outline-warning">Outline Warning </a></div>
            <div class="mb-2"><a class="btn text-uppercase btn-outline-danger">Outline Danger </a></div>
        </div>
    </body>
</html>