<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Cards" }}
    </head>
    <body>
        <div class="container">
            <h1>Cards</h1>
            <hr>
        </div>
        <div class="container">
            <div class="card mt-4">
                <div class="card-body">
                    <div class="card">
                        <div class="card-body">Lorem ipsum dolor sit amet</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>