<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Categories" }}
    </head>
    <body>
        {{> page-title text="Categories" }}
        <div class="container mt-4">
            <div class="flex-fill">
                <h3>Categories - List</h3>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="categories categories--list">
                        <a href="#" class="category-card bg-dance small d-flex align-items-center justify-content-end justify-content-lg-center mb-1">
                            <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Dance</span>
                        </a>
                        <a href="#" class="category-card bg-music small  d-flex  align-items-center justify-content-end justify-content-lg-center">
                            <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Music</span>
                        </a>                      
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-4">
            <h3>Categories - Grid</h3>
        </div>
        {{> components/categories-grid}}

    </body>
</html>