<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Category Card" }}
    </head>
    <body>
        {{> page-title text="Category Card" }}
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-4">
                    <div class="categories">
                        {{> components/category-card category="dance" title="Dance" size="small"}}                   
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>