<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Figures" }}
    </head>
    <body>
        <div class="container">
            <h1>Figures</h1>
            <hr>
        </div>
        <div class="container">
            <figure class="figure">
                <img src="../images/figure.jpg" class="figure-img img-fluid mb-0" alt="A generic square placeholder image in a figure.">
                <figcaption class="figure-caption text-left bg-light-gray px-2 py-1">A group of people performing Budima Dance.</figcaption>
            </figure>
        </div>
    </body>
</html>