<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Forms" }}
    </head>
    <body>
        {{> page-title text="Forms" }}
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card mt-2">
                        <div class="card-body">
                            <div class="text-center mb-5">
                                <h3 class="">Newsletter</h3>
                                <p class="text-muted">Accusantium doloremque laudantium totam rem.</p>
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-10 m-auto">
                                    <div class="m-auto">
                                        <div class="input-group mb-2">
                                            <input type="text" class="form-control  ps-3" placeholder="Insert your email here">
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="sML5n0nKoFk2n-R_96P7Y">
                                            <label class="custom-control-label" for="sML5n0nKoFk2n-R_96P7Y">Lorem ipsum dolor sit amet</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5 d-flex justify-content-end">
                                <a class="btn text-uppercase btn-secondary text-white px-4">Subscribe</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-body">
                     <h3 class="">Dropdown</h3>
                    <select class="custom-select" aria-label="Default select example">
                        <option selected="">Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>            
            <div class="card my-4">
                <div class="card-body">
                    <div class="mb-2">
                        <div class="input-group mb-2">
                            <input type="text" class="form-control  ps-3" placeholder="Newsletter">
                        </div>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text border-end-0 pe-0"> @</span>
                        </div>
                         <input type="text" class="form-control border-start-0 ps-3" placeholder="Search">
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="g0EsDM2WZDNw9arJhcpEu">
                        <label class="custom-control-label" for="g0EsDM2WZDNw9arJhcpEu">Lorem ipsum dolor sit amet</label>
                    </div>
                </div>
            </div>
        </div>
        </div>     
    </body>
</html>