<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="HR" }}
    </head>
    <body>
        <div class="card mt-4">
            <div class="card-body">
                <hr>
            </div>
        </div>
    </body>
</html>