<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Popover" }}
    </head>
    <body>
        <div class="container">
            <h1>Popover</h1>
            <hr>
        </div>
        <div class="container">
        <div>
            <div class="my-4">
                <a href="#" class="a-link" data-container="body" data-toggle="popover" title="" data-content='<a href="#" class="a-link  with-prefix">Flamenco</a>' data-placement="bottom" data-html="true" data-original-title="Popover title">Click to toggle countries popover </a>
                <div id="popover-content" class="d-none">
                    <a href="#" class="a-link  with-prefix">Flamenco</a>
                </div>
            </div>
        </div>
        {{> js jquery=true popper=true bootstrap=true main=true }}
    </body>
</html>