<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Subject Card" }}
    </head>
    <body>
        {{> page-title text="Subject Card" }}
        <div class="container mt-4">
            <div class="row categories categories--grid no-gutters my-n1 mx-1 mx-lg-0 my-lg-0">
                <div class="col-12 col-lg-4 mb-1 my-lg-0">
                    {{> components/subject-card category="dance" title="Dance" size="large" }}
                </div>
            </div>
        </div>
    </body>
</html>