<!DOCTYPE html>
<html>
	<head>
        {{> html-head title="Hero Search" }}
	</head>
	<body>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 order-2 order-md-1">
                    Content
                </div>
                <div class="col-lg-4 order-1 order-md-2">
                    {{> sections/article-sidebar }}
                </div>                
            </div>
        </div>

        {{> js jquery=true bootstrap=true main=true }}
    </body>
</html>
