<!DOCTYPE html>
<html>
	<head>
        {{> html-head title="Hero Search" }}
	</head>
	<body>
        <div class="bg-dance category-header category-header--dance">
                <div class="container text-center d-flex align-items-center justify-content-center">
                        <h1 class="text-white">Dance</h1>
                </div>
        </div>
        

        {{> js jquery=true bootstrap=true main=true }}
    </body>
</html>
