<!DOCTYPE html>
<html>
	<head>
        {{> html-head title="Hero Search" }}
	</head>
	<body>
        {{> sections/country-header}}

        {{> js jquery=true bootstrap=true main=true }}
    </body>
</html>
