<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Browse Section" }}
    </head>
    <body>
        {{> page-title text="Browse Section" }}
        <div class="nav nav-tabs nav-fill border-bottom-0" id="nav-tab" role="tablist">
            <a href="#tab-subjects" class="nav-link border-start-0 border-end-0 fs-4 text-center py-5 active w-50 h4" data-toggle="tab" data-target="#tab-subjects" role="tab">BROWSE SUBJECTS</a>
            <a href="#tab-countries" class="nav-link border-start-0 border-end-0 fs-4 text-center py-5 w-50 h4" data-toggle="tab" data-target="#tab-countries" role="tab">BROWSE COUNTRIES</a>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane bg-lighter-gray fade active show" id="tab-subjects" role="tabpanel">
                {{> compounds/categories-grid}}
            </div>
            <div class="tab-pane bg-lighter-gray fade" id="tab-countries" role="tabpanel">
                <div class="container py-5">
                    {{> compounds/countries-tabs }}
                </div>
            </div>
        </div>
        {{> js jquery=true bootstrap=true main=true }}
    </body>
</html>