<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Subjects and Countries" }}
    </head>
    <body>
        {{> page-title text="Subjects and Countries" }}
        <div class="nav nav-tabs nav-fill border-bottom-0" id="nav-tab" role="tablist">
            <a href="#tab-subjects" class="nav-link border-start-0 border-end-0 fs-4 text-center py-5 active w-50 h4 font-body text-uppercase text-gray" data-toggle="tab" data-target="#tab-subjects" role="tab">Browse Subjects</a>
            <a href="#tab-countries" class="nav-link border-start-0 border-end-0 fs-4 text-center py-5 w-50 h4 font-body text-uppercase text-gray" data-toggle="tab" data-target="#tab-countries" role="tab">Browse Countries</a>
        </div>
        <div class="tab-content tabs-subject-countries">
            <div class="tab-pane bg-lighter-gray fade active show pt-2 pt-lg-0" id="tab-subjects" role="tabpanel">
                {{> components/categories-grid}}
            </div>
            <div class="tab-pane bg-lighter-gray fade" id="tab-countries" role="tabpanel">
                <div class="container py-5 d-none d-lg-block">
                    {{> compounds/countries-tabs }}
                </div>
            </div>
        </div>
        {{> js jquery=true bootstrap=true main=true }}
    </body>
</html>