<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Subjects and Countries" }}
    </head>
    <body>
        {{> page-title text="Subjects and Countries" }}
        {{> sections/subjects-and-countries}}
        {{> js jquery=true bootstrap=true main=true }}
    </body>
</html>