<!DOCTYPE html>
<html>
	<head>
        {{> html-head title="Categories" }}
	</head>
	<body>
        {{> sections/header}}
        <div class="main-content">
            {{> sections/category-header  category="dance" title="Dance" }}
            <div class="bg-lighter-gray pt-1 pb-md-3">
                {{> compounds/countries-multi-level-tabs theme="dance"}}
            </div>
            {{> sections/article-items }}
        </div>

        {{> sections/footer}}

        {{> js jquery=true bootstrap=true main=true }}
    </body>
</html>
