<!DOCTYPE html>
<html>
	<head>
        {{> html-head title="Homepage" }}
	</head>
	<body>
        {{> sections/header}}

        <div class="main-content">
            {{> sections/hero-search}}
            {{> sections/home-about hide-on-mobile="true"}}
            {{> sections/subjects-and-countries}}
            {{> sections/article-items}}
        </div>

        {{> sections/footer}}

        {{> js jquery=true bootstrap=true main=true }}
    </body>
</html>
