<!DOCTYPE html>
<html>
	<head>
        {{> html-head title="Header" }}
	</head>
	<body>
        {{> sections/header}}

        <div class="container col-6 mt-4">
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem dolorum numquam ducimus non a, quibusdam asperiores, quo magnam earum illum obcaecati nemo aspernatur iure rem ipsum alias magni cupiditate consequuntur?</p>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem dolorum numquam ducimus non a, quibusdam asperiores, quo magnam earum illum obcaecati nemo aspernatur iure rem ipsum alias magni cupiditate consequuntur?</p>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem dolorum numquam ducimus non a, quibusdam asperiores, quo magnam earum illum obcaecati nemo aspernatur iure rem ipsum alias magni cupiditate consequuntur?</p>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem dolorum numquam ducimus non a, quibusdam asperiores, quo magnam earum illum obcaecati nemo aspernatur iure rem ipsum alias magni cupiditate consequuntur?</p>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem dolorum numquam ducimus non a, quibusdam asperiores, quo magnam earum illum obcaecati nemo aspernatur iure rem ipsum alias magni cupiditate consequuntur?</p>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem dolorum numquam ducimus non a, quibusdam asperiores, quo magnam earum illum obcaecati nemo aspernatur iure rem ipsum alias magni cupiditate consequuntur?</p>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem dolorum numquam ducimus non a, quibusdam asperiores, quo magnam earum illum obcaecati nemo aspernatur iure rem ipsum alias magni cupiditate consequuntur?</p>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem dolorum numquam ducimus non a, quibusdam asperiores, quo magnam earum illum obcaecati nemo aspernatur iure rem ipsum alias magni cupiditate consequuntur?</p>
        </div>

        {{> sections/footer}}

        {{> js jquery=true bootstrap=true main=true }}
    </body>
</html>
