.category-header{
    position: relative;
    &::after{
        content: " ";
        position: absolute;
        top:0;
        width: 100%;
        height: 100%;
        opacity: .3;
        background-repeat: no-repeat;
        background-image: url(asset-url("category-header-background.svg"));
        background-size: cover;
        background-position: center;
        pointer-events: none;
    }
  
    @include media-breakpoint-down(md) {
      &::after{
        display: none;
      }
    }

    .container {
      min-height: 415px;
      position: relative;
      &::before {
        content:"";
        position: absolute;
        left: 0;
        width: 100%;
        max-width: 400px;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;        
        height: 80%;
        @include media-breakpoint-down(md) {
          height:100% !important;
        }
      }
      @include media-breakpoint-down(md) {
        min-height: 92px;

        h1{
          font-size: $h4-font-size;
        }
      }
    }

    @include media-breakpoint-down(md) {
      &--art {
          .container::before {
              background-size: 100px;
              background-position: -30px 10px;
          }
      }
      &--belief {
          .container::before {
              margin-left: -90px;
              background-size: 170px;
              background-position: 95% 0px;
              transform: scaleX(-1);
              opacity: 0.5;
          }
      }
      &--craftmanship {
          .container::before {
              background-size: 100px;
              background-position: -30px center;
              opacity: 0.5;
          }
      }
      &--dance {
          .container::before {
              background-size: 90px;
              background-position: 5px -60px;
              opacity: 0.5;
          }
      }
      &--entertainment {
          .container::before {
              background-size: 135px;
              background-position: -25px -75px;
              opacity: 0.5;
          }
      }
      &--foodways {
          .container::before {
              background-size: 150px;
              background-position: -60px -10px;
              opacity: 0.5;
          }
      }
      &--music {
          .container::before {
              margin-top: 15px;
              margin-left: -50px;
              background-size: 130px;
              transform: scaleX(-1) rotateZ(-10deg);
              background-position: 97% bottom;
              opacity: 0.5;
          }
      }
      &--ritual {
          .container::before {
              background-size: 110px;
              transform: scaleX(-1);
              background-position: right -50px;
              opacity: 0.5;
          }
      }
      &--verbal {
          .container::before {
              background-size: 90px;
              background-position: 10px -60px;
              opacity: 0.5;
          }
      }
  }
  
    @each $category, $img-url in (
      art: (asset-url("category-art.svg"), 80%),
      belief: (asset-url("category-belief.svg"), 75%),
      craftmanship: (asset-url("category-craftmanship.svg"), 50%),
      dance: (asset-url("category-dance.svg"), 85%),
      entertainment: (asset-url("category-entertainment.svg"), 85%),
      foodways: (asset-url("category-foodways.svg"), 60%),
      music: (asset-url("category-music.svg"), 70%),
      ritual: (asset-url("category-ritual.svg"), 80%),
      verbal: (asset-url("category-verbal.svg"), 70%)
    ) {
        &--#{$category} {
          .container{
            &::before {
              background-image: url(nth($img-url,1));
              height:nth($img-url,2);
            }
          }
        }
    }
  }