.category-header{
    position: relative;
    &::after{
        content: " ";
        position: absolute;
        top:0;
        width: 100%;
        height: 100%;
        opacity: .3;
        background-repeat: no-repeat;
        background-image: url(asset-url("category-header-background.svg"));
        background-size: cover;
        background-position: center;
    }
  
    .container {
      min-height: 415px;
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;
      @include media-breakpoint-down(md) {
        min-height: 300px;
      }
    }
  
    @each $category, $img-url in (
      art: asset-url("category-art.svg"),
      belief: asset-url("category-belief.svg"),
      craftmanship: asset-url("category-craftmanship.svg"),
      dance: asset-url("category-dance.svg"),
      entertainment: asset-url("category-entertainment.svg"),
      foodways: asset-url("category-foodways.svg"),
      music: asset-url("category-music.svg"),
      ritual: asset-url("category-ritual.svg"),
      verbal: asset-url("category-verbal.svg")
    ) {
      &--#{$category} {
        .container {
          @include media-breakpoint-up(md) {
            background-image: url($img-url);
          }
        }
      }
    }
  }