.category-header{
    position: relative;
    &::after{
        content: " ";
        position: absolute;
        top:0;
        width: 100%;
        height: 100%;
        opacity: .3;
        background-repeat: no-repeat;
        background-image: url(asset-url("category-header-background.svg"));
        background-size: cover;
        background-position: center;
        pointer-events: none;
    }
  
    .container {
      min-height: 415px;
      position: relative;
      &::before {
        content:"";
        position: absolute;
        left: 0;
        width: 100%;
        max-width: 400px;
        height: 80%;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;        
      }
      @include media-breakpoint-down(md) {
        min-height: 176px;
      }
    }
  
    @each $category, $img-url in (
      art: (asset-url("category-art.svg"), 80%),
      belief: (asset-url("category-belief.svg"), 75%),
      craftmanship: (asset-url("category-craftmanship.svg"), 50%),
      dance: (asset-url("category-dance.svg"), 85%),
      entertainment: (asset-url("category-entertainment.svg"), 85%),
      foodways: (asset-url("category-foodways.svg"), 60%),
      music: (asset-url("category-music.svg"), 70%),
      ritual: (asset-url("category-ritual.svg"), 80%),
      verbal: (asset-url("category-verbal.svg"), 70%)
    ) {
        &--#{$category} {
          .container{
            &::before {
              @include media-breakpoint-up(md) {
                background-image: url(nth($img-url,1));
                height:nth($img-url,2);
              }
            }
          }
        }
    }
  }