.country-header{
    background-image: url(asset-url("hero.svg"));
    background-position: center;
    @include media-breakpoint-down(md) {
        background-image:none;
        background-color:$gray-600;
    }
    
    .container{
        min-height:415px;
        @include media-breakpoint-down(md) {
            min-height: 250px;
            h4,
            h1{
                color:$white !important;
            }
        }
    }
}