footer{
    .nav-item{
        .nav-link{
            margin-right: 1em;
        }
    }

    .footer-bottom{
        .nav-link{
            color:$gray-200 !important;
        }

        .navbar-brand{
            line-height: 0;
        }
        img{
            width:80px;
        }
    }

    @include media-breakpoint-down(md) {
        .nav-bar{
            .navbar-nav{
                flex-direction: row;
                flex-wrap: wrap;
                .nav-item{
                    margin-right: 0;
                    flex: 0 0 50%;
                }
            }
        }
    }
}