.main-header{
    .folc-color-line{
        span{
            display: block;
            height: 13px;
            background-color: orange;
            width: 10%;

            @include media-breakpoint-down(md) {
                height: 10px;
            }

            &.bg-art{width:8%}
            &.bg-belief{width:9%}
            &.bg-craftmanship{width:10%}
            &.bg-dance{width:35%}
            &.bg-entertainment{width:4.8%}
            &.bg-foodways{width:6.6%}
            &.bg-music{width:9.4%}
            &.bg-ritual{width:9.4%}
            &.bg-verbal{width:14.2%}
        }
    }

    .navbar-brand img{
        width: $header-menu-logo-width-lg;
    }

    .navbar-nav{
        @include  media-breakpoint-up(md) {
            .dropdown{
                &.show{
                    background-color: $gray;
                }

                &--countries{
                    .dropdown-menu{
                        margin-left:-230%
                    }
                }
            }
        }
    }
    .has-search{
        @include  media-breakpoint-up(md) {
            text-transform: uppercase;
        }
    }

    @include media-breakpoint-down(md) {

        >.navbar{
            position:static;
            height:4em;
        }

        .navbar{
            &--mobile-menu-footer{
                .navbar-nav{
                    flex-direction: row;
                    flex-wrap: wrap;
                    height:auto;
                }
                .nav-item {
                    margin-right: 0;
                    flex: 0 0 50%;
                    .nav-link{
                        margin-right: 1em;
                        pointer-events:all;
                    }
                }
            }
        }

        .navbar-brand img{
            width: $header-menu-logo-width-md;
        }
        .nav-link{
            color:$gray-400 !important;
            pointer-events: none;
        }
        .navbar-collapse{
            position: absolute !important;
            height:calc(100% - var(--menu-height));
            overflow-y: scroll;
            top:var(--menu-height);
            left:0;
            background-color: $gray-800;
            width: 100%;
            transition: all 0.3s ease;
            will-change: transform;
            transform: translateX(100%);
            z-index: 10;

            &.collapsing {
                height: auto !important;
                display: flex;
            }
            &.show {
                transform: translateX(0%);
                display: flex;
            }

            .dropdown{
                .dropdown-toggle{
                    &::after{display: none;}
                }
                .dropdown-menu{
                    display: block;
                    &.open{
                        background-color: transparent;
                    }
                }
                .categories--list{
                    background-color: $gray-800 !important;
                }

                &--countries{
                    background-color:$gray-700;
                }
            }
            
            .header-search-box{
                order:1;
                width:100%;
                background-color: $gray-600;

                .has-search{
                    background-color:$gray-650;

                    input{
                        background-color: $white !important;
                    }
                }
            }
            .navbar-nav{
                order:2
            }
        }
        .navbar-toggler-icon {
            top:50%;
            left:10%;
            position: relative;
            transition: 0.5s;

            &,
            &:after,
            &:before{   
                width: 25px;
                height: 2px;
                background: $gray-800;
                transition:0.5s;        
            }         
        
            &:after,
            &:before{
                content: '';
                top: -9px;
                position:absolute;
                left:0;
            }
            &:after{
                top: 9px;
            }
          }
        
          [aria-expanded="true"]{
            .navbar-toggler-icon {
                background:rgba(0,0,0,0);
              }
              .navbar-toggler-icon:before {
                top: 0;
                transform:rotate(45deg);
              }     
              .navbar-toggler-icon:after {
                top: 0;
                transform:rotate(135deg);
              }
          }
    }
}

// Menu Overlay + content animation
.main-content{
    transition: $header-menu-mobile-transition;

    &.menu-opened{
        @include media-breakpoint-down(md) {
            transform: translateX(-100%);
        } 
        @include media-breakpoint-up(md) {       
            &::after{
                content:"" ;
                position: absolute;
                top:var(--menu-height);
                left:0;
                width: 100%;
                height: var(--menu-overlay-height);
                background-color: $black;
                opacity: $header-menu-overlay-opacity;
                z-index:10;
            }
        }
    }
}