.main-header{
    .folc-color-line{
        span{
            display: block;
            height: 13px;
            background-color: orange;
            width: 10%;

            &.bg-art{width:8%}
            &.bg-belief{width:9%}
            &.bg-craftmanship{width:10%}
            &.bg-dance{width:35%}
            &.bg-entertainment{width:4.8%}
            &.bg-foodways{width:6.6%}
            &.bg-music{width:9.4%}
            &.bg-ritual{width:9.4%}
            &.bg-verbal{width:14.2%}
        }
    }

    .navbar-brand{
        max-width: 140px;
    }

    .navbar-nav{
        .nav-link{
            padding: 0 10px;
        }
        .dropdown{
            &.show{
                background-color: $gray;
            }
            .dropdown-menu{
                &--narrow{width: 480px;}
            }
        }
    }
    .header-search-box{
        .form-control-feedback{
            line-height: 2.2em;
        }
        .form-control{
            height:1em;
        }
    }

    @include media-breakpoint-down(md) {

        .navbar{
            position:static
        }

        .navbar-brand{
            max-width: 110px;
        }
        .nav-link{
            color:$gray-400 !important;
        }
        .navbar-collapse{
            position: absolute !important;
            height:calc(100% - 100px);
            overflow-y: scroll;
            top:100px;
            left:0;
            background-color: $gray-800;
            width: 100%;
            transition: all 0.3s ease;
            will-change: transform;
            transform: translateX(100%);
            z-index: 10;

            &.collapsing {
                height: auto !important;
                display: flex;
            }
            &.show {
                transform: translateX(0%);
                display: flex;
            }

            .dropdown-toggle{
                &::after{display: none;}
            }
            .dropdown-menu{
                display: block;
                &.open{
                    background-color: transparent;
                }
            }
            .categories--list{
                background-color: $gray-800 !important;
            }

            .countries-tabs,
            .dropdown--countries{
                background-color:$gray-700;
            }
            .header-search-box{
                order:1;
                width:100%;
                background-color: $gray-600;

                .has-search{
                    background-color:$gray-700;

                    input{
                        background-color: $white !important;
                    }
                }
                .form-control-feedback{
                    line-height: 2.2em;
                }
                .form-control{
                    height:3em;
                }
            }
            .navbar-nav{order:2}

            

        }
        .navbar-toggler-icon {
            top:50%;
            left:10%;
            position: relative;
            transition: 0.5s;

            &,
            &:after,
            &:before{   
                width: 35px;
                height: 4px;
                background: $gray-800;
                transition:0.5s;        
            }         
        
            &:after,
            &:before{
                content: '';
                top: -12px;
                position:absolute;
                left:0;
            }
            &:after{
                top: 12px;
            }
          }
        
          [aria-expanded="true"]{
            .navbar-toggler-icon {
                background:rgba(0,0,0,0);
              }
              .navbar-toggler-icon:before {
                top: 0;
                transform:rotate(45deg);
              }     
              .navbar-toggler-icon:after {
                top: 0;
                transform:rotate(135deg);
              }
          }
    }
}

//todo
.main-content{
    transition: .5s;
}
.main-navbar-visible{
    overflow: hidden;

    .main-content{
        transform: translateX(-100%);
    }
}