.hero-search{
    
    background-image: url(asset-url("hero.png"));
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid $gray-300;

    .container{
        min-height: calc(100vh - var(--menu-height));
    }

    @include media-breakpoint-down(md) {
        .container{
            min-height: 60vh;
        }

        .has-search{
            font-size: $font-size-base;
        }
    }
}