.subjects-and-countries{
    @include media-breakpoint-down(md) {
        .nav-link{
            font-size: $font-size-small;
            color:$gray-800 !important;
            font-weight: bold;
            border: none;
        }
    }
}
