<div class="row categories categories--grid no-gutters my-n1 mx-2 mx-lg-0 my-lg-0">
    <div class="col-12 col-lg-4 mb-1 my-lg-0">
        <a href="categories.html" class="category-card bg-art  d-flex h-lg-100 align-items-center justify-content-end justify-content-lg-center">
        <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Art</span>
        </a>
    </div>
    <div class="col-12 col-lg-4  mb-1 my-lg-0">
        <a href="categories.html" class="category-card bg-belief  d-flex h-lg-100 align-items-center justify-content-end justify-content-lg-center">
        <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Belief</span>
        </a>
    </div>
    <div class="col-12 col-lg-4  mb-1 my-lg-0">
        <a href="categories.html" class="category-card bg-craftmanship  d-flex h-lg-100 align-items-center justify-content-end justify-content-lg-center">
        <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Craftmanship</span>
        </a>
    </div>
    <div class="col-12 col-lg-4  mb-1 my-lg-0">
        <a href="categories.html" class="category-card bg-dance  d-flex h-lg-100 align-items-center justify-content-end justify-content-lg-center">
        <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Dance</span>
        </a>
    </div>
    <div class="col-12 col-lg-4  mb-1 my-lg-0">
        <a href="categories.html" class="category-card bg-entertainment  d-flex h-lg-100 align-items-center justify-content-end justify-content-lg-center">
        <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Entertainment &amp; Recreation</span>
        </a>
    </div>
    <div class="col-12 col-lg-4  mb-1 my-lg-0">
        <a href="categories.html" class="category-card bg-foodways  d-flex h-lg-100 align-items-center justify-content-end justify-content-lg-center">
        <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Foodways</span>
        </a>
    </div>
    <div class="col-12 col-lg-4  mb-1 my-lg-0">
        <a href="categories.html" class="category-card bg-music  d-flex h-lg-100 align-items-center justify-content-end justify-content-lg-center">
        <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Music</span>
        </a>
    </div>
    <div class="col-12 col-lg-4  mb-1 my-lg-0">
        <a href="categories.html" class="category-card bg-ritual  d-flex h-lg-100 align-items-center justify-content-end justify-content-lg-center">
        <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Ritual</span>
        </a>
    </div>
    <div class="col-12 col-lg-4  mb-1 my-lg-0">
        <a href="categories.html" class="category-card bg-verbal  d-flex h-lg-100 align-items-center justify-content-end justify-content-lg-center">
        <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Verbal arts &amp; Literature</span>
        </a>
    </div>
</div>