<a href="categories.html" class="category-card bg-{{category}} {{#if (eq size 'small')}}category-card--small mb-1 h4{{/if}} {{#if (eq size 'large')}}h2 mb-0 h-lg-100{{/if}} {{#if minimal-mobile}}category-card--minimal-mobile{{/if}} d-flex align-items-center justify-content-end justify-content-lg-center">
    <span class="font-heading text-white justify-content-center {{#if (eq size 'small')}}pl-md-5 ml-md-4 {{/if}} {{#if minimal-mobile}}pl-1{{/if}} mb-0 category-text">{{title}}</span>
</a>