<div class="bg-lighter-gray mx-n1 mx-md-0 pb-lg-5 mb-1 mb-lg-0 ml-lg-2">
    <figure class="figure">
        <img src="../images/figure.jpg" class="figure-img img-fluid mb-0" alt="A generic square placeholder image in a figure.">
        <figcaption class="figure-caption text-left bg-light-gray px-1 px-md-3 py-1">A group of people performing Budima Dance.</figcaption>
    </figure>
    <div class="px-1 p-md-3">
        <div><span class="text-gray">Nation:</span> <a href="#">Zambia</a>, <a href="#">Sri Lanka</a></div>
        <div><span class="text-gray">Region:</span> <a href="#">Zambesi</a>, <a href="#">Ashanti</a>, <a href="#">Sabaragamuwa</a></div>
    </div>
    <hr>
    <div class="px-1 p-md-3">
        <div class="text-gray text-uppercase pb-1">Categories</div>
        <div class="categories categories--list">
            {{> components/category-card category="dance" title="Dance" size="small" }}
            {{> components/category-card category="music" title="Music" size="small" }}     
            </a>                      
        </div>
    </div>
    <hr>
    <div class="px-1 p-md-3">
        <div class="text-gray text-uppercase pb-1">Sustainable development goals</div>
        <a class="a-link with-prefix" href="#">04 - Quality Education</a>
    </div>
    <hr>
    <div class="px-1 p-md-3 pb-3">
        <div class="text-gray text-uppercase pb-1">Tags</div>
        <a href="#" class="btn btn-outline-secondary text-uppercase px-3 text-primary">Drums</a>
    </div>
    <hr class="pb-lg-5 mb-0 d-none d-lg-block">

</div>