<div class="bg-lighter-gray h-100">
    <figure class="figure">
        <img src="../images/figure.jpg" class="figure-img img-fluid mb-0" alt="A generic square placeholder image in a figure.">
        <figcaption class="figure-caption text-left bg-light-gray px-3 py-1">A group of people performing Budima Dance.</figcaption>
    </figure>
    <div class="p-3">
        <div><span class="text-gray">Nation:</span> <a href="#">Zambia</a>, <a href="#">Sri Lanka</a></div>
        <div><span class="text-gray">Region:</span> <a href="#">Zambesi</a>, <a href="#">Ashanti</a>, <a href="#">Sabaragamuwa</a></div>
    </div>
    <hr>
    <div class="p-3">
        <div class="text-gray text-uppercase pb-1">Categories</div>
        <div class="categories categories--list">
            <a href="#" class="category-card bg-dance small d-flex align-items-center justify-content-end justify-content-lg-center mb-1">
                <span class="font-heading text-white justify-content-center pl-4 ml-md-5 mb-0 category-text">Dance</span>
            </a>
            <a href="#" class="category-card bg-music small  d-flex  align-items-center justify-content-end justify-content-lg-center">
                <span class="font-heading text-white justify-content-center pl-4 ml-md-5 mb-0 category-text">Music</span>
            </a>                      
        </div>
    </div>
    <hr>
    <div class="p-3">
        <div class="text-gray text-uppercase pb-1">Sustainable development goals</div>
        <a class="a-link with-prefix" href="#">04 - Quality Education</a>
    </div>
    <hr>
    <div class="p-3">
        <div class="text-gray text-uppercase pb-1">Tags</div>
        <a href="#" class="btn btn-outline-secondary text-uppercase px-3 text-primary">Drums</a>
    </div>
    <hr class="mb-lg-5 pb-lg-5">

</div>