<div class="bg-dance category-header category-header--{{category}}">
    <div class="container text-center d-flex align-items-center justify-content-center">
        <h1 class="text-white">Dance</h1>
    </div>
</div>