<div class="bg-{{category}} category-header category-header--{{category}}">
    <div class="container text-center d-flex flex-column align-items-center justify-content-center">
        <h1 class="text-white">{{title}}</h1>
        <a href="#countries-form-multi-level" class="btn bg-white text-uppercase d-md-none mt-2">Explore</a>
    </div>
</div>