<div class="country-header country-header--region border-bottom">
    <div class="container text-center d-flex flex-column align-items-center justify-content-center">
        <h4 class="text-gray">Spain</h4>
        <h1>Andaluacia</h1>
        <div class="col-11 col-lg-3 pb-lg-2">
            <select class="custom-select text-uppercase text-gray mt-2 mb-4" aria-label="Default select example">
                <option selected="">Filter by Regions/States</option>
                <option value="country-region.html">Andaluacia</option>
                <option value="country-region.html">Two</option>
                <option value="country-region.html">Three</option>
            </select>
        </div>
        <a class="text-uppercase btn text-white bg-gray d-none d-md-inline-block" href="country.html">Back to Spain</a>
    </div>
</div>