<div class="country-header">
    <div class="container text-center d-flex flex-column align-items-center justify-content-center">
        <h1>Spain</h1>
        <select class="custom-select text-uppercase text-gray mt-2 col-11 col-lg-3" aria-label="Default select example">
            <option selected="">Filter by Regions/States</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
</div>