<div class="country-header country-header--region border-bottom">
    <div class="container text-center d-flex flex-column align-items-center justify-content-center">
        <h4 class="text-gray">Spain</h4>
        <h1>Andaluacia</h1>
        <select class="custom-select text-uppercase text-gray mt-2 mb-4 col-11 col-lg-3" aria-label="Default select example">
            <option selected="">Filter by Regions/States</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <a class="text-uppercase btn text-white bg-gray" href="country.html">Back to Spain</a>
    </div>
</div>