<footer class="bg-footer-gray mt-2 mt-md-5">
    <div class="container">
        {{> compounds/action-cards }}
        <hr>
        <div class="text-uppercase text-gray mb-1">Navigation</div>
        <nav class="nav-bar">
            <ul class="navbar-nav navbar-expand-lg">
                <li class="nav-item mr-lg-1 active">
                    <a class="nav-link a-link with-prefix" href="#">About Folc</a>
                </li>
                <li class="nav-item mr-lg-1">
                    <a class="nav-link a-link with-prefix" href="#">Press Release</a>
                </li>
                <li class="nav-item mr-lg-1">
                    <a class="nav-link a-link with-prefix" href="#">Sustain Folc</a>
                </li>
                <li class="nav-item mr-lg-1">
                    <a class="nav-link a-link with-prefix" href="#">Contact us</a>
                </li>  
                <li class="nav-item mr-lg-1">
                    <a class="nav-link a-link with-prefix" href="#">Newsletter</a>
                </li>   
                <li class="nav-item">
                    <a class="nav-link a-link with-prefix" href="#">FAQ</a>
                </li>   
            </ul>
        </nav>
        <hr>
        <small class="pb-3 pt-1 d-block">Text is available under the <a href="#">Creative Commons Attribution-ShareAlike License</a>. By using this site, you agree to the <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>. Folc® is a registered trademark of the Lorem Ipsum, Inc., a non-profit organization.</small>
    </div>
    <div class="footer-bottom bg-dark-gray py-2 py-md-4">
        <div class="container">
            <nav class="nav-bar d-flex flex-column flex-md-row">
                <ul class="navbar-nav navbar-expand-lg mr-auto order-2 order-md-1">
                    <li class="nav-item mr-lg-1 active">
                        <a class="nav-link a-link with-prefix" href="#">Privacy policy</a>
                    </li>
                    <li class="nav-item mr-lg-1">
                        <a class="nav-link a-link with-prefix" href="#">Disclaimers</a>
                    </li>
                    <li class="nav-item mr-lg-1">
                        <a class="nav-link a-link with-prefix" href="#">Mobile view</a>
                    </li>
                    <li class="nav-item mr-lg-1">
                        <a class="nav-link a-link with-prefix" href="#">Developers</a>
                    </li>  
                    <li class="nav-item mr-lg-1">
                        <a class="nav-link a-link with-prefix" href="#">Statistics</a>
                    </li>   
                    <li class="nav-item">
                        <a class="nav-link a-link with-prefix" href="#">Cookie statement</a>
                    </li>   
                </ul>
                <a class="navbar-brand mr-0 order-1 order-md-2 mb-1 mb-md-0" href="/"><img src="../images/logo.svg"></a>
            </nav>
        </div>
    </div>
</footer>