<header class="main-header">
    <div class="folc-color-line d-flex">
        <span class="bg-art"></span>
        <span class="bg-belief"></span>
        <span class="bg-craftmanship"></span>
        <span class="bg-dance"></span>
        <span class="bg-entertainment"></span>
        <span class="bg-foodways"></span>
        <span class="bg-music"></span>
        <span class="bg-ritual"></span>
        <span class="bg-verbal"></span>
    </div>
    <nav>
        In progress
    </nav>
</header>