<header class="main-header">
    <div class="folc-color-line d-flex">
        <span class="bg-art"></span>
        <span class="bg-belief"></span>
        <span class="bg-craftmanship"></span>
        <span class="bg-dance"></span>
        <span class="bg-entertainment"></span>
        <span class="bg-foodways"></span>
        <span class="bg-music"></span>
        <span class="bg-ritual"></span>
        <span class="bg-verbal"></span>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light mx-1">
        <a class="navbar-brand mr-0 mr-md-2 mt-1" href="/" aria-label="Bootstrap"><img class="img-fluid" src="../images/logo.svg"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#main-navbar">
            <div class="navbar-toggler-icon"></div>
        </button>

        <div id="main-navbar" class="collapse navbar-collapse position-relative d-md-block flex-column flex-md-row">
            <ul class="navbar-nav ml-0 ml-md-auto">
                <li class="nav-item dropdown dropdown--subjects py-2 py-md-3 px-0 px-md-1">
                    {{> compounds/subject-dropdown}}
                </li>
                <li class="nav-item dropdown dropdown--countries py-1 py-md-3 m-1 m-md-0 position-static">
                    <a class="nav-link nav-link dropdown-toggle text-uppercase text-dark my-1 ml-1 my-md-0 ml-md-0"  data-toggle="dropdown" href="#">Countries</a>
                    <div class="dropdown-menu avoid-auto-close pb-0 w-100 bg-transparent mt-0 rounded-0 pt-0 border-0" style="">
                        {{> compounds/countries-tabs-small}}
                    </div>
                </li>
                <li class="nav-item dropdown dropdown--sdg py-3 d-none d-md-block">
                    <a class="nav-link nav-link dropdown-toggle text-uppercase text-dark"  data-toggle="dropdown" href="#">SDG</a>
                    <div class="dropdown-menu dropdown-menu--narrow avoid-auto-close bg-transparent mt-0 rounded-0 pt-0 border-0" style="">
                        {{> compounds/sdg-dropdown}}
                    </div>                    
                </li>
                <li class="nav-item py-3 px-1 text-uppercase d-none d-md-block">
                    <a class="nav-link text-dark" href="#">About</a>
                </li> 
                <li class="nav-item py-3 px-1 text-uppercase d-none d-md-block">
                    <a class="nav-link text-dark" href="#">Login/Register</a>
                </li>                                 
            </ul>
            <form class="header-search-box form-inline d-block d-md-flex ml-lg-2 my-md-2 my-lg-0">
                <div class="form-group has-search p-1 py-2 py-md-0 d-flex">
                    <span class="fa fa-search form-control-feedback">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                        </svg>
                    </span>
                    <input type="text" class="form-control flex-fill bg-light-gray" placeholder="Search">
                </div>
                <div class="d-flex d-md-none p-1">
                    <a href="#" class="btn flex-fill text-uppercase btn-outline-white mr-1">Login</a>
                    <a href="#" class="btn flex-fill text-uppercase btn-outline-white">Register</a>
                </div>
            </form>
            
        </div>
    </nav>
</header>