<header class="main-header container-fluid border-bottom">
    <div class="folc-color-line mx-n1 d-flex">
        <span class="bg-art"></span>
        <span class="bg-belief"></span>
        <span class="bg-craftmanship"></span>
        <span class="bg-dance"></span>
        <span class="bg-entertainment"></span>
        <span class="bg-foodways"></span>
        <span class="bg-music"></span>
        <span class="bg-ritual"></span>
        <span class="bg-verbal"></span>
    </div>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand mr-0 mr-md-2 mt-0" href="homepage.html" aria-label="Bootstrap"><img class="img-fluid" src="../images/logo.svg"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#main-navbar">
            <div class="navbar-toggler-icon"></div>
        </button>

        <div id="main-navbar" class="collapse navbar-collapse position-relative d-md-block flex-column flex-md-row">
            <ul class="navbar-nav ml-0 ml-md-auto">
                <li class="nav-item dropdown dropdown--subjects pt-1 pb-0 py-md-2 px-0 px-md-1">
                    <a href="#" class="nav-link dropdown-toggle text-uppercase text-dark pl-1 px-md-1" data-toggle="dropdown" data-flip="false" data-target="false" role="button" aria-expanded="false" data-auto-close="false" data-placement="bottom">Subjects</a>
                    {{> compounds/subject-dropdown}}
                </li>
                <li class="nav-item dropdown dropdown--countries py-1 py-md-2 mt-n1 m-1 m-md-0 px-md-1">
                    <a class="nav-link nav-link dropdown-toggle text-uppercase text-dark ml-1 my-md-0 ml-md-0 px-md-1"  data-toggle="dropdown" href="#">Countries</a>
                    <div class="dropdown-menu avoid-auto-close pb-0 w-100 bg-transparent mt-0 rounded-0 pt-0 border-0" style="">
                        {{> compounds/countries-tabs-small}}
                    </div>
                </li>
                <li class="nav-item dropdown dropdown--sdg py-1 py-md-2 d-md-block px-md-1 mx-1 mx-md-0 mb-2 mb-md-0">
                    <a class="nav-link nav-link dropdown-toggle text-uppercase text-dark px-md-1  ml-1 ml-md-0"  data-toggle="dropdown" href="#">SDG</a>
                    <div class="dropdown-menu w-custom-px-lg-1 avoid-auto-close bg-transparent mt-0 rounded-0 pt-0 border-0" style="">
                        {{> compounds/sdg-dropdown}}
                    </div>                    
                </li>
                <li class="d-flex d-md-none pt-0 pb-3">
                    <nav class="navbar navbar--mobile-menu-footer">
                        <ul class="navbar-nav navbar-expand-lg mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link a-link with-prefix" href="#">Privacy policy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link a-link with-prefix" href="#">Disclaimers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link a-link with-prefix" href="#">Mobile view</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link a-link with-prefix" href="#">Developers</a>
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link a-link with-prefix" href="#">Statistics</a>
                            </li>   
                            <li class="nav-item">
                                <a class="nav-link a-link with-prefix" href="#">Cookie statement</a>
                            </li>   
                        </ul>
                    </nav>
                </li>
                <li class="nav-item py-3 py-md-2 px-1 text-uppercase d-none d-md-block">
                    <a class="nav-link text-dark px-md-1" href="#">About</a>
                </li> 
                <li class="nav-item py-3 py-md-2 px-1 text-uppercase d-none d-md-block">
                    <a class="nav-link text-dark px-md-1" href="#">Login/Register</a>
                </li>                                 
            </ul>
            <form class="header-search-box form-inline d-block d-md-flex ml-lg-2 my-md-2 my-lg-0">
                <div class="form-group has-search p-1 py-2 py-md-0 d-flex">
                    <span class="fa fa-search form-control-feedback">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                        </svg>
                    </span>
                    <input type="text" class="form-control flex-fill bg-light-gray text-uppercase-lg" placeholder="Search">
                </div>
                <div class="d-flex d-md-none p-1">
                    <a href="#" class="btn flex-fill text-uppercase btn-outline-white mr-1">Login</a>
                    <a href="#" class="btn flex-fill text-uppercase btn-outline-white">Register</a>
                </div>
            </form>
        </div>
    </nav>
</header>