<header class="main-header">
    <div class="folc-color-line d-flex">
        <span class="bg-art"></span>
        <span class="bg-belief"></span>
        <span class="bg-craftmanship"></span>
        <span class="bg-dance"></span>
        <span class="bg-entertainment"></span>
        <span class="bg-foodways"></span>
        <span class="bg-music"></span>
        <span class="bg-ritual"></span>
        <span class="bg-verbal"></span>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light mx-1">
        <a class="navbar-brand mr-0 mr-md-2 mt-1" href="/" aria-label="Bootstrap"><img src="../images/logo.png"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse position-relative">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown py-3 px-1">
                    {{> compounds/subject-dropdown}}
                </li>
                <li class="nav-item dropdown py-3 position-static">
                    <a class="nav-link nav-link dropdown-toggle text-uppercase text-dark"  data-toggle="dropdown" href="#">Countries</a>
                    <div class="dropdown-menu avoid-auto-close w-100 bg-white  categories categories--list mt-0 rounded-0 pt-0 border-0" style="">
                        {{> compounds/countries-tabs}}
                    </div>
                </li>
                <li class="nav-item py-3 px-1 text-uppercase">
                    <a class="nav-link text-dark"  href="#">SDG</a>
                </li>
                <li class="nav-item py-3 px-1 text-uppercase">
                    <a class="nav-link text-dark" href="#">About</a>
                </li> 
                <li class="nav-item py-3 px-1 text-uppercase">
                    <a class="nav-link text-dark" href="#">Login/Register</a>
                </li>                                 
            </ul>
            <form class="header-search-box form-inline ml-lg-2 my-2 my-lg-0">
                <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                    </svg>
                </span>
                <input type="text" class="form-control bg-light-gray text-uppercase" placeholder="Search">
                </div>
            </form>
            
        </div>
    </nav>
</header>