<div class="hero-search jumbotron jumbotron-fluid d-flex align-items-center text-center mb-1">
    <div class="container ">
        <h1 class="text-dark col-md-9 m-auto mb-lg-4 mt-lg-3">Welcome to Folc, the encyclopedia of folklore, customs and traditions around the world.</h1>
        <div class="form-group has-search px-1 pt-3 pt-lg-5 pb-1 d-flex m-auto align-items-center h4 font-body col-md-7 col-lg-5">
            <span class="fa fa-search form-control-feedback">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                </svg>
            </span>
            <input type="text" class="form-control flex-fill text-uppercase-lg" placeholder="Search">
        </div> 
        <p class="d-block text-uppercase pb-1 pb-lg-5 mt-lg-2">Example: Flamenco, Denmark, Galicia, Literature</p>
        <a class="btn btn-lg bg-info text-white text-uppercase mt-lg-5 mb-md-1" href="#" role="button">Explore</a>
    </div>
</div>