<div class="hero-search jumbotron jumbotron-fluid mb-1">
    <div class="container d-flex flex-column align-items-center justify-content-center text-center">
        <div class="d-flex flex-column justify-content-center align-items-center flex-grow-1">
            <h1 class="text-dark col-md-9 h2 mb-2 mb-md-4">Welcome to Folc, the encyclopedia of folklore, customs and traditions around the world.</h1>
            <div class="form-group has-search d-flex  align-items-center h4 font-body col-md-7 col-lg-5">
                <span class="fa fa-search form-control-feedback">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                    </svg>
                </span>
                <input type="text" class="form-control flex-fill text-uppercase-lg" placeholder="Search">
            </div> 
            <p class="d-block text-uppercase font-size-small">Example: Flamenco, Denmark, Galicia, Literature</p>
        </div>
        <a class="btn bg-secondary text-white text-uppercase d-inline-flex align-items-center mb-1 mb-md-2" href="#subjects-and-countries">
            <img class="svg ml-n1" src="icons/arrow-down-short.svg" replace-to-svg />
            Explore
        </a>
    </div>
</div>