<div class="container text-center py-5 my-1 my-lg-5 {{#if hide-on-mobile}}d-none d-md-block{{/if}}">
    <div class="text-uppercase pb-3 pb-lg-4 text-gray">About Folc</div>
    <h2 class="h3 pb-3 pb-lg-4 col-lg-7 m-auto">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</h2>
    <a class="a-link with-prefix h5 font-body" href="#">Read more</a>
</div>