<div class="container text-center py-5 my-1 {{#if hide-on-mobile}}d-none d-md-block{{/if}}">
    <div class="text-uppercase pb-3">About Folc</div>
    <h2 class="h2 pb-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</h2>
    <a class="a-link with-prefix" href="#">Read more</a>
</div>