<div id="subjects-and-countries" class="subjects-and-countries">
    <div class="nav nav-tabs nav-fill border-bottom-0" id="nav-tab" role="tablist">
        <a href="#tab-subjects" class="nav-link border-start-0 border-end-0 fs-4 text-center py-3 py-md-5 active w-50 h4 font-body text-uppercase text-gray" data-toggle="tab" data-target="#tab-subjects" role="tab">Browse Subjects</a>
        <a href="#tab-countries" class="nav-link border-start-0 border-end-0 fs-4 text-center py-3 py-md-5 w-50 h4 font-body text-uppercase text-gray" data-toggle="tab" data-target="#tab-countries" role="tab">Browse Countries</a>
    </div>
    <div class="tab-content tabs-subject-countries">
        <div class="tab-pane bg-lighter-gray fade active show pt-2 pt-lg-0" id="tab-subjects" role="tabpanel">
            {{> compounds/categories-grid}}
        </div>
        <div class="tab-pane bg-lighter-gray fade py-2 py-lg-4" id="tab-countries" role="tabpanel">
            {{> compounds/countries-tab}}
        </div>
    </div>
</div>