.font-heading {
    font-family: $headings-font-family;
}
.font-body {
    font-family: $font-family-sans-serif;
}

a {
	&.with-prefix {
	  &:before {
		content: "» ";
	  }
	}
}

.text-underline {
	text-decoration: underline;
}

.text-linethrough {
	text-decoration: line-through;
}