.font-heading {
    font-family: $headings-font-family;
}

@include media-breakpoint-up(lg) {
	h1, .h1 {
		@include font-size($h1-font-size-lg);
	}
	h2, .h2 {
		@include font-size($h2-font-size-lg);
	}
	h3, .h3 {
		@include font-size($h3-font-size-lg);
	}
	h4, .h4 {
		@include font-size($h4-font-size-lg);
		font-weight: 400;
	}
}

a {
	&.with-prefix {
	  &:before {
		content: "» ";
	  }
	}
}

.text-underline {
	text-decoration: underline;
}

.text-linethrough {
	text-decoration: line-through;
}

.font-size-lg {
	font-size: $font-size-lg !important;
}
.font-size-base {
	font-size: $font-size-base !important;
}
.font-size-sm {
	font-size: $font-size-sm !important;
}
.font-size-xs {
	font-size: $font-size-xs !important;
}
@include media-breakpoint-up(lg) {
	.font-size-dt-lg {
		font-size: $font-size-lg !important;
	}
	.font-size-dt-base {
		font-size: $font-size-base !important;
	}
	.font-size-dt-sm {
		font-size: $font-size-sm !important;
	}
	.font-size-dt-xs {
		font-size: $font-size-xs !important;
	}
}