html,
.smooth-scroll{
    scroll-behavior: smooth;
}

@include media-breakpoint-up(lg) {
    .h-lg-100 {
        height: 100% !important;
    }
    .w-lg-auto {
        width: auto !important;
    }  
}

.object-fit-cover{
    object-fit: cover;
}

@include media-breakpoint-up(lg) {
    .text-uppercase-lg{
        text-transform: uppercase;
    }
}