// Grid
$grid-gutter-width: 15px;
$grid-gutter-width-lg: 20px;

$grid-breakpoints: ( //todo 
  xs: 0,
  sm: 375px,
  md: 768px,
  lg: 992px,
  xl: 1260px
);

$container-max-widths: (
  sm: 540px,
  md: 720px, //todo
  lg: 960px, //todo
  xl: 1722px //todo
);

$spacer: calc-em(20, $unit: 1rem);
$spacers: (
  1: $spacer * 0.5,   // 10
  2: $spacer * 1,     // 20
  3: $spacer * 1.5,   // 30
  4: $spacer * 2,     // 40
  g: $grid-gutter-width,
);

// Typography
$headings-font-family:  "Alegreya", Arial, Helvetica, sans-serif;
$font-family-sans-serif: "Lato", Arial, Helvetica, sans-serif;

$line-height-base: calc-em(25, $context: 16, $unit: 1);
$line-height-lg: $line-height-base;
$line-height-sm: calc-em(17, $context: 14, $unit: 1);

$headings-font-weight: 500;
$headings-line-height: $line-height-base;

$link-hover-decoration: none;

$font-size-base: calc-em(18);
$font-size-sm: calc-em(14);
$font-size-xs: calc-em(13);

$h1-font-size: calc-em(53);
$h2-font-size: calc-em(45);
$h3-font-size: calc-em(32);
$h4-font-size: calc-em(24);

$h1-font-size-lg: calc-em(53);
$h2-font-size-lg: calc-em(45);
$h3-font-size-lg: calc-em(32);
$h4-font-size-lg: calc-em(24);

$hero-banner-font-size: calc-em(32);
$hero-banner-font-size-lg: calc-em(72);
$playground-font-size: calc-em(52);

// Colors
$body-color: #212529;

$white: #ffffff;
$gray: #f4f4f4;
$gray-100: #eeeeee;
$gray-200: #DDDDDD;
$gray-300: #C2C2C2;
$gray-400: #8A8A8A;
$gray-500: #6A6A6A;
$gray-600: #677D85;
$gray-800: #303030;

$cyan: #6492ac; // ok
$blue-300: #637cb5; // ok
$blue: #0061ff; // ok
$purple: #6a63b6; // ok
$teal: #839b86; // ok
$orange: #f47e61; // ok
$red: #b04a41; // ok
$red-600: #c65454; // ok
$green: #abbd81; // ok
$yellow: #f9b26b; // ok
$black: #000;

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "lighter-gray": $gray,
  "light-gray": $gray-200,
  "gray": $gray-600,
  "dark-gray": $gray-800,
  "teal": $teal,
  "orange": $orange,
  "dark": $black,
  "cyan": $cyan,
  "art": $red,
  "belief": $red-600,
  "craftmanship": $orange,
  "dance": $yellow,
  "entertainment": $green,
  "foodways": $teal,
  "music": $cyan,
  "ritual": $blue-300,
  "verbal": $purple,
  "white": $white,
);


// Border
$border-radius-lg: calc-em(50, $unit: 1rem);

// Forms
$form-group-margin-bottom: map-get($spacers, 1);
$input-color: $body-color;
$input-placeholder-color: $gray-500;
$input-btn-focus-color: transparent;
$input-focus-border-color: $gray-400;
$input-disabled-bg: $gray-100;
$input-disabled-color: $gray-400;
$custom-control-gutter: .5em;
$custom-control-indicator-size: calc-em(20);

$input-border-radius: $border-radius-lg;
$input-border-color: $gray-200;
$input-group-addon-bg: transparent;

$input-padding-y: calc-em(28 / 2);
$input-padding-x: 1em;
// $input-height: calc-em(50, $unit: 1rem);

// $input-padding-y-sm: calc-em(15 / 2, 14);
// $input-padding-x-sm: calc-em(6, 14);

$search-icon-padding-y-sm: calc-em(6, 14);
$input-border-radius-sm: calc-em(18, 14);

// Nav TODO
$nav-link-padding-y: calc-em(12/2);
$nav-link-padding-x: calc-em(12/2);
$nav-link-padding-y-lg: calc-em(24/2);
$nav-link-padding-x-lg: calc-em(24/2);
$nav-tabs-link-active-bg: $gray;

$nav-tabs-border-radius: 0;
$nav-pills-border-radius: 0;

$nav-tabs-link-active-color: $gray-600;
$nav-pills-link-active-bg: $gray-600;

$nav-tabs-link-hover-border-color: transparent;
$nav-link-color: $gray-800;
$nav-link-hover-color: $gray-600;

// Nav - tabs
$nav-tabs-border-radius: 0;

// Buttons
$btn-hover-darken: 80%;
$btn-font-weight: 400;
$btn-padding-y: calc-em(3);
$btn-padding-x: calc-em(15);
$btn-border-radius: $border-radius-lg;

$btn-font-size-lg: 1em;
$btn-line-height-lg: $line-height-base;
//$btn-border-radius-lg: $border-radius-lg;
//$btn-border-width-lg: 2px;
// $btn-padding-y-lg: calc-em(9);
// $btn-padding-x-lg: calc-em(28);

// Figures
$figure-caption-color:$gray-500;
$figure-caption-font-size:100%;

// HR
$hr-border-color: $gray-600;

// Card
$card-border-radius: 0;

// Popover
$popover-header-bg: $primary;
$popover-arrow-color: $primary;
$popover-header-bg: $blue;
$popover-arrow-color: $popover-header-bg;
$popover-header-color: $white;
$popover-border-radius: 0;
$popover-border-width: 0;
$popover-bg: $gray;

// navbar
$navbar-nav-link-padding-x: 0;
$navbar-padding-y: 0;
$navbar-padding-x: calc-em(15 / 2, 16);
$navbar-toggler-padding-x: 0;

// Select
$custom-select-indicator-padding: .1em;
$custom-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.6 22.6'><path d='M1.9 5.4l9.4 9.4 9.4-9.4 1.9 1.9-11.3 11.3L0 7.3l1.9-1.9z'/></svg>");
$custom-select-bg-size: calc-em(16) calc-em(9);
$custom-select-disabled-bg: $gray-100;
$custom-select-disabled-color: $gray-400;
$custom-select-border-radius: $border-radius-lg;

// Badge
$badge-font-size: 1em;
$badge-padding-y: calc-em(5);
$badge-padding-x: calc-em(16);
$badge-border-radius: $border-radius-lg;
$badge-font-weight: 400;
