// Grid
$grid-gutter-width: 20px;

$grid-breakpoints: (
  xs: 0,
  sm: 375px,
  md: 768px,
  lg: 992px,
  xl: 1260px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1722px
);

$spacer: calc-em(20, $unit: 1rem);
$spacers: (
  1: $spacer * 0.5,   // 10
  2: $spacer * 1,     // 20
  3: $spacer * 1.5,   // 30
  4: $spacer * 2,     // 40
  g: $grid-gutter-width,
);

// Typography
$headings-font-family:  "Alegreya", Arial, Helvetica, sans-serif;
$font-family-sans-serif: "Lato", Arial, Helvetica, sans-serif;

$line-height-base: calc-em(25, $context: 16, $unit: 1);

$headings-font-weight: 500;
$headings-line-height: calc-em(20, $context: 16, $unit: 1);

$link-hover-decoration: none;

$paragraph-margin-bottom: 1.9rem;

$font-size-base: calc-em(16);
$h1-font-size: calc-em(32);
$h2-font-size: calc-em(28);
$h3-font-size: calc-em(28);
$h4-font-size: calc-em(24);

$font-size-base-lg: calc-em(18);
$h1-font-size-lg: calc-em(59);
$h2-font-size-lg: calc-em(50);
$h3-font-size-lg: calc-em(36);
$h4-font-size-lg: calc-em(27);

// Colors
$body-color: #212529;

$white: #ffffff;
$gray: #f4f4f4;
$gray-100: #eeeeee;
$gray-200: #DDDDDD;
$gray-300: #C2C2C2;
$gray-400: #8A8A8A;
$gray-500: #6A6A6A;
$gray-600: #677D85;
$gray-800: #303030;

$cyan: #6492ac; // ok
$blue-300: #637cb5; // ok
$blue: #0061ff; // ok
$light-blue: #e5efff; // to be used on dropdown bg
$purple: #6a63b6; // ok
$teal: #839b86; // ok
$orange: #f47e61; // ok
$red: #b04a41; // ok
$red-600: #c65454; // ok
$green: #abbd81; // ok
$yellow: #f9b26b; // ok
$black: #000;

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "lighter-gray": $gray, 
  "footer-gray": $gray-100, 
  "light-gray": $gray-200,
  "light-blue": $light-blue,
  "gray": $gray-600,
  "dark-gray": $gray-800,
  "teal": $teal,
  "orange": $orange,
  "dark": $black,
  "cyan": $cyan,
  "art": $red,
  "belief": $red-600,
  "craftmanship": $orange,
  "dance": $yellow,
  "entertainment": $green,
  "foodways": $teal,
  "music": $cyan,
  "ritual": $blue-300,
  "verbal": $purple,
  "white": $white,
);


// Border
$border-radius-lg: calc-em(50, $unit: 1rem);

// Forms
$form-group-margin-bottom: map-get($spacers, 1);
$input-color: $body-color;
$input-height:2.6em;
$input-placeholder-color: $gray-500;
$input-btn-focus-color: transparent;
$input-focus-border-color: $gray-400;
$input-disabled-bg: $gray-100;
$input-disabled-color: $gray-400;
$custom-control-gutter: .5em;
$custom-control-indicator-size: calc-em(20);

$input-border-radius: $border-radius-lg;
$input-border-color: $gray-200;
$input-group-addon-bg: transparent;

$input-padding-y: calc-em(28 / 2);
$input-padding-x: 1em;

$search-icon-padding-y-sm: calc-em(6, 14);
$input-border-radius-sm: calc-em(18, 14);

// Nav
$nav-link-padding-y: .25em;
$nav-link-padding-x: 0;

$nav-pills-border-radius: 0;
$nav-pills-link-active-bg: $gray-600;

$nav-link-color: $primary;
$nav-link-hover-color: $gray-600;

$navbar-light-toggler-border-color: transparent;

$nav-tabs-link-active-bg: $gray;
$nav-tabs-border-radius: 0;
$nav-tabs-link-active-color: $gray-600;
$nav-tabs-link-hover-border-color: transparent;
$nav-tabs-border-radius: 0;

// Dropdowns
$dropdown-bg: $light-blue;

// Buttons
$btn-hover-darken: 80%;
$btn-font-weight: 400;
$btn-padding-y: .4em;
$btn-padding-x: 1.8em;
$btn-padding-y-lg: .6em;
$btn-padding-x-lg: 1.8em;
$btn-border-radius: $border-radius-lg;

$btn-font-size-lg: 1em;
$btn-line-height-lg: $line-height-base;

// Figures
$figure-caption-color:$gray-500;
$figure-caption-font-size:100%;

// HR
$hr-border-color: $gray-200;

// Card
$card-border-radius: 0;

// Popover
$popover-header-bg: $primary;
$popover-arrow-color: $primary;
$popover-header-bg: $blue;
$popover-arrow-color: $popover-header-bg;
$popover-header-color: $white;
$popover-border-radius: 0;
$popover-border-width: 0;
$popover-bg: $gray;

// navbar
$navbar-nav-link-padding-x: 0;
$navbar-padding-y: 0;
$navbar-padding-x: calc-em(15 / 2, 16);
$navbar-toggler-padding-x: 0;

// Select
$custom-select-indicator-padding: .1em;
$custom-select-padding-x:1.2em;
$custom-select-padding-y:.2em;
$custom-select-height:3em;
$custom-select-font-size:1em;
$custom-select-indicator: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='eEV6r2zfSZ31' viewBox='0 0 40 40' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'%3E%3Cpolygon points='0,-10.134469 8.776708,5.067235 -8.776708,5.067235 0,-10.134469' transform='matrix(-2.037821 0 0-1.664655 20 18.012227)' fill='%23677d85' stroke-width='0'/%3E%3C/svg%3E");
$custom-select-bg-size: calc-em(20) calc-em(25);
$custom-select-disabled-bg: $gray-100;
$custom-select-disabled-color: $gray-400;
$custom-select-border-radius: $border-radius-lg;

// Badge
$badge-font-size: 1em;
$badge-padding-y: calc-em(5);
$badge-padding-x: calc-em(16);
$badge-border-radius: $border-radius-lg;
$badge-font-weight: 400;

// Header
$header-menu-overlay-opacity: .2;
$header-menu-mobile-transition: .3s;
$header-menu-logo-width-lg: 140px;
$header-menu-logo-width-md: 80px;

