<div class="article-item">
    <span class="text-uppercase text-gray mb-1 mb-md-2 font-body d-block">{{type}}</span>
    <div class="d-lg-flex">
        <div class="mr-lg-2 mb-2 mb-lg-0 d-none d-md-block">
            <img class="img-fluid object-fit-cover" src="https://via.placeholder.com/600x600" alt="">
        </div>
        <div class="d-flex flex-column">
            <h4 class="mb-lg-auto">
                <a class="text-dark" href="article.html">{{title}}</a>
            </h4>
            <p class="mb-1"><span class="text-muted d-none d-md-inline">Category: </span><span class="badge badge-padding bg-dance">Dance </span></p>
            <img  class="img-fluid object-fit-cover mr-lg-2 mb-1 mb-lg-0 d-block d-md-none" src="https://via.placeholder.com/600x600" alt="">
            <dl class="m-0 mt-1 mt-lg-0">
                <dt class="d-inline-block me-1 text-muted">Nation:</dt>
                <dd class="d-inline-block me-1 mb-0"><a href="#" class="a-link">Zambia </a><span>, </span></dd>
                <dd class="d-inline-block me-1 mb-0"><a href="#" class="a-link">Ghana </a><span>, </span></dd>
                <dd class="d-inline-block me-1 mb-0"><a href="#" class="a-link">Sri Lanka </a></dd>
            </dl>
            <dl class="m-0">
                <dt class="d-inline-block me-1 text-muted">Region: </dt>
                <dd class="d-inline-block me-1 mb-0"><a href="#" class="a-link">Zambesi </a><span>, </span></dd>
                <dd class="d-inline-block me-1 mb-0"><a href="#" class="a-link">Ashanti </a><span>, </span></dd>
                <dd class="d-inline-block me-1 mb-0"><a href="#" class="a-link">Sabaragamuwa </a></dd>
            </dl>
        </div>
    </div>
    <p class="mt-2">The Budima Dance is a warrior dance performed all year round by the inhabitants of Zambezi/Gwembe Valley
        in the Southern Province. Arriving from Liberia in the 16th century, the Wee People carry out this
        traditional dance on a number of sombre and spiritual occasions, especially during traditional ceremonies,
        funeral processions, weddings, initiation ceremonies… <a href="article.html" class="a-link with-prefix d-block d-md-inline mt-1 mt-md-0">Full Article </a>
    </p>   
</div>