<div class="categories-tabs container py-3 py-lg-2 bg-lighter-gray">
    <div class=" container d-none d-lg-block py-1 bg-lighter-gray my-1">
        <ul class="nav nav-pills nav-fill border-bottom-0 m-n1" role="tablist">
            <li class="nav-item mx-1 mb-1 mb-md-2 active">
                <a href="#category-art" class="nav-link nav-link--art h5 font-body d-flex justify-content-center align-items-center text-dark font-size-base mb-0 p-1  py-md-2 active" data-toggle="tab" data-target="#category-art" role="tab" aria-selected="true">Art</a>
            </li>
            <li class="nav-item mx-1 mb-1 mb-md-2">
                <a href="#category-belief" class="nav-link nav-link--belief h5 font-body d-flex justify-content-center align-items-center text-dark font-size-base mb-0 p-1 py-md-2 " data-toggle="tab" data-target="#category-belief" role="tab" aria-selected="false">Belief</a>
            </li>
            <li class="nav-item mx-1 mb-1 mb-md-2">
                <a href="#category-craftmanship" class="nav-link nav-link--craftmanship h5 font-body d-flex justify-content-center align-items-center text-dark font-size-base mb-0 p-1 py-md-2 " data-toggle="tab" data-target="#category-craftmanship" role="tab" aria-selected="false">Craftmanship</a>
            </li>
            <li class="nav-item mx-1 mb-1 mb-md-2">
                <a href="#category-dance" class="nav-link nav-link--dance h5 font-body d-flex justify-content-center align-items-center text-dark font-size-base mb-0 p-1 py-md-2 " data-toggle="tab" data-target="#category-dance" role="tab">Dance</a>
            </li>
            <li class="nav-item mx-1 mb-1 mb-md-2">
                <a href="#category-entertainment" class="nav-link nav-link--entertainment h5 font-body d-flex justify-content-center align-items-center text-dark font-size-base mb-0 p-1 py-md-2 " data-toggle="tab" data-target="#category-entertainment" role="tab">Entertainment and recreation</a>
            </li>
            <li class="nav-item mx-1 mb-1 mb-md-2">
                <a href="#category-foodways" class="nav-link nav-link--foodways h5 font-body d-flex justify-content-center align-items-center text-dark font-size-base mb-0 p-1 py-md-2 " data-toggle="tab" data-target="#category-foodways" role="tab">Foodways</a>
            </li>  
            <li class="nav-item mx-1 mb-1 mb-md-2">
                <a href="#category-music" class="nav-link nav-link--music h5 font-body d-flex justify-content-center align-items-center text-dark font-size-base mb-0 p-1 py-md-2 " data-toggle="tab" data-target="#category-music" role="tab">Music</a>
            </li> 
            <li class="nav-item mx-1 mb-1 mb-md-2">
                <a href="#category-ritual" class="nav-link nav-link--ritual h5 font-body d-flex justify-content-center align-items-center text-dark font-size-base mb-0 p-1 py-md-2 " data-toggle="tab" data-target="#category-ritual" role="tab">Rituals</a>
            </li> 
            <li class="nav-item mx-1 mb-1 mb-md-2">
                <a href="#category-verbal" class="nav-link nav-link--verbal h5 font-body d-flex justify-content-center align-items-center text-dark font-size-base mb-0 p-1 py-md-2 " data-toggle="tab" data-target="#category-verbal" role="tab">Verbal arts and literature</a>
            </li>                                                                                
        </ul>
        <div class="categories-tabs-content tab-content pt-1 pt-md-2 bg-art">
            <div class="tab-pane bg-white active" id="category-art" role="tabpanel">
                <div class="p-5">
                    <ul class="categories-cols d-flex flex-row flex-lg-column flex-wrap list-unstyled">
                        <li class="w-100 w-lg-auto">
                            <a href="https://example.com/spanish-rice" class="nav-link with-prefix">Spanish Rice</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Tortilla Espanola</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Paella</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Red Sangria</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Patatas Bravas</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Pimientos de Padron</a>
                        </li>
                            <li class="w-100 w-lg-auto">
                            <a href="https://example.com/spanish-rice" class="nav-link with-prefix">Spanish Rice</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Tortilla Espanola</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Paella</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Red Sangria</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Patatas Bravas</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Pimientos de Padron</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Pimientos de Padron</a>
                        </li>
                            <li class="w-100 w-lg-auto">
                            <a href="https://example.com/spanish-rice" class="nav-link with-prefix">Spanish Rice</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Tortilla Espanola</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Paella</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Red Sangria</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Patatas Bravas</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Pimientos de Padron</a>
                        </li>                                  
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Tortilla Espanola</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Paella</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Red Sangria</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Patatas Bravas</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Pimientos de Padron</a>
                        </li>                                
                    </ul>
                </div>
            </div>
            <div class="tab-pane bg-white" id="category-belief" role="tabpanel">
                <div class="p-5">
                    <ul class="categories-cols d-flex flex-row flex-lg-column flex-wrap  list-unstyled">
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Pimientos de Padron</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Pimientos de Padron</a>
                        </li>
                            <li class="w-100 w-lg-auto">
                            <a href="https://example.com/spanish-rice" class="nav-link with-prefix">Spanish Rice</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Tortilla Espanola</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Paella</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="https://example.com/spanish-rice" class="nav-link with-prefix">Spanish Rice</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Tortilla Espanola</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Paella</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Red Sangria</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Patatas Bravas</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Pimientos de Padron</a>
                        </li>
                            <li class="w-100 w-lg-auto">
                            <a href="https://example.com/spanish-rice" class="nav-link with-prefix">Spanish Rice</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Tortilla Espanola</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Paella</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Red Sangria</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Patatas Bravas</a>
                        </li>                                
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Red Sangria</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Patatas Bravas</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Pimientos de Padron</a>
                        </li>                                  
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Tortilla Espanola</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Paella</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Red Sangria</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Patatas Bravas</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Pimientos de Padron</a>
                        </li> 
                    </ul>
                </div>
            </div>
            <div class="tab-pane bg-white" id="category-craftmanship" role="tabpanel">
                <div class="p-5">
                    <ul class="categories-cols d-flex flex-row flex-lg-column flex-wrap list-unstyled">
                        <li class="w-100 w-lg-auto">
                            <a href="https://example.com/spanish-rice" class="nav-link with-prefix">Spanish Rice</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Tortilla Espanola</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Paella</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="https://example.com/spanish-rice" class="nav-link with-prefix">Spanish Rice</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Tortilla Espanola</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Paella</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Red Sangria</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Patatas Bravas</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Pimientos de Padron</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="https://example.com/spanish-rice" class="nav-link with-prefix">Spanish Rice</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Tortilla Espanola</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Paella</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Red Sangria</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Patatas Bravas</a>
                        </li>                               
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Red Sangria</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Patatas Bravas</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Pimientos de Padron</a>
                        </li>
                            <li class="w-100 w-lg-auto">
                            <a href="https://example.com/spanish-rice" class="nav-link with-prefix">Spanish Rice</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Tortilla Espanola</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Paella</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Red Sangria</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Patatas Bravas</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane bg-white" id="category-dance" role="tabpanel">
                <div class="p-5">
                    <ul class="categories-cols d-flex flex-row flex-lg-column flex-wrap list-unstyled">
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Patatas Bravas</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Pimientos de Padron</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane bg-white" id="category-entertainment" role="tabpanel">
                <div class="p-5">
                    <ul class="categories-cols d-flex flex-row flex-lg-column flex-wrap list-unstyled">
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Paella</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Red Sangria</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Patatas Bravas</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Pimientos de Padron</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane bg-white" id="category-foodways" role="tabpanel">
                <div class="p-5">
                    <ul class="categories-cols d-flex flex-row flex-lg-column flex-wrap list-unstyled">
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Patatas Bravas</a>
                        </li>
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Pimientos de Padron</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane bg-white" id="category-music" role="tabpanel">
                <div class="p-5">
                    <ul class="categories-cols d-flex flex-row flex-lg-column flex-wrap list-unstyled">
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Music</a>
                        </li>
                    </ul>
                </div>
            </div> 
            <div class="tab-pane bg-white" id="category-ritual" role="tabpanel">
                <div class="p-5">
                    <ul class="categories-cols d-flex flex-row flex-lg-column flex-wrap list-unstyled">
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Ritual</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane bg-white" id="category-verbal" role="tabpanel">
                <div class="p-5">
                    <ul class="categories-cols d-flex flex-row flex-lg-column flex-wrap list-unstyled">
                        <li class="w-100 w-lg-auto">
                            <a href="#" class="nav-link with-prefix">Verbal</a>
                        </li>
                    </ul>
                </div>
            </div>                                                                             
        </div>



    </div>
    <div class="d-block py-0 py-lg-5 d-lg-none">
        <form class="categories-form">
            <select class="select-categories custom-select" aria-label="Default select example">
                <option value="" disabled selected>Select a category</option>
            </select>
        </form>
        <ul class="categories-select-content p-1 mt-3 bg-white list-unstyled">
            <div class="py-5 text-center text-gray h4 font-body">Select a category<br> from the upper panel</div>
        </ul>
    </div>
</div>