<ul class="categories categories--list list-unstyled">
    <li>
        {{> components/category-card category="art" title="Art" size="small"}}  
    </li>
    <li>
        {{> components/category-card category="belief" title="Belief" size="small"}}  
    </li>     
    <li>
        {{> components/category-card category="craftmanship" title="Craftmanship" size="small"}}  
    </li>     
    <li>
        {{> components/category-card category="dance" title="Dance" size="small"}}  
    </li>   
    <li>
        {{> components/category-card category="entertainment" title="Entertainment and recreation" size="small"}}  
    </li>     
    <li>
        {{> components/category-card category="foodways" title="Foodways" size="small"}}  
    </li>
    <li>
        {{> components/category-card category="music" title="Music" size="small"}}  
    </li> 
    <li>
        {{> components/category-card category="ritual" title="Ritual" size="small"}}  
    </li> 
    <li>
        {{> components/category-card category="verbal" title="Verbal arts & Literature" size="small"}}  
    </li>
</ul>