<div class="row categories categories--grid no-gutters my-n1 mx-1 mx-lg-0 my-lg-0">
    <div class="col-12 col-lg-4 mb-1 my-lg-0">
        {{> components/subject-card category="art" title="Art" size="large" }}
    </div>
    <div class="col-12 col-lg-4  mb-1 my-lg-0">
        {{> components/subject-card category="belief" title="Belief" size="large" }}
    </div>
    <div class="col-12 col-lg-4  mb-1 my-lg-0">
        {{> components/subject-card category="craftmanship" title="Craftmanship" size="large" }}
    </div>
    <div class="col-12 col-lg-4  mb-1 my-lg-0">
        {{> components/subject-card category="dance" title="Dance" size="large" }}
    </div>
    <div class="col-12 col-lg-4  mb-1 my-lg-0">
        {{> components/subject-card category="entertainment" title="Entertainment & Recreation" size="large" }}
    </div>
    <div class="col-12 col-lg-4  mb-1 my-lg-0">
        {{> components/subject-card category="foodways" title="Foodways" size="large" }}
    </div>
    <div class="col-12 col-lg-4  mb-1 my-lg-0">
        {{> components/subject-card category="music" title="Music" size="large" }}
    </div>
    <div class="col-12 col-lg-4  mb-1 my-lg-0">
        {{> components/subject-card category="ritual" title="Ritual" size="large" }}
    </div>
    <div class="col-12 col-lg-4  mb-1 my-lg-0">
        {{> components/subject-card category="verbal" title="Verbal arts & Literature" size="large" }}
    </div>
</div>