<div class="container countries-tabs py-2 bg-lighter-gray my-3">
    <ul class="nav nav-pills nav-fill border-bottom-0 m-n1 m-md-n2" id="countries-tab" role="tablist">
        <li class="nav-item mx-1 mx-md-2 mb-1 mb-md-2 border-active active">
            <a href="#countries-africa" class="nav-link p-1 p-md-2 active" data-toggle="tab" data-target="#countries-africa" role="tab" aria-selected="true">Africa</a>
        </li>
        <li class="nav-item mx-1 mx-md-2 mb-1 mb-md-2 border-active">
            <a href="#countries-asia" class="nav-link p-1 p-md-2" data-toggle="tab" data-target="#countries-asia" role="tab" aria-selected="false">Asia</a>
        </li>
        <li class="nav-item mx-1 mx-md-2 mb-1 mb-md-2 border-active">
            <a href="#countries-europe" class="nav-link p-1 p-md-2" data-toggle="tab" data-target="#countries-europe" role="tab" aria-selected="false">Europe</a>
        </li>
        <li class="nav-item mx-1 mx-md-2 mb-1 mb-md-2 border-active">
            <a href="#countries-americas" class="nav-link p-1 p-md-2" data-toggle="tab" data-target="#countries-americas" role="tab">Americas</a>
        </li>
        <li class="nav-item mx-1 mx-md-2 mb-1 mb-md-2 border-active">
            <a href="#countries-oceania" class="nav-link p-1 p-md-2" data-toggle="tab" data-target="#countries-oceania" role="tab">Oceania</a>
        </li>
    </ul>
    <div class="tab-content pt-1 pt-md-3 bg-gray" id="countries-tabContent">
        <div class="tab-pane bg-white show active" id="countries-africa" role="tabpanel">
            <div class="tab-pane bg-white" id="countries-africa" role="tabpanel">
                <div class="p-5">
                    <div class="countries-cols d-flex flex-row flex-lg-column flex-wrap">
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Albania (18)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Andorra (2)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Armenia (6)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Austria (19)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Azerbaijan (4)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Belarus (3)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Belgium (14)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Bosnia and Herzegovina (4)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Bulgaria (11)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Croatia (3)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Cyprus (3)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Albania (18)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Andorra (2)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Armenia (6)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Austria (19)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Azerbaijan (4)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Belarus (3)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Belgium (14)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Bosnia and Herzegovina (4)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Bulgaria (11)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Croatia (3)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Cyprus (3)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Albania (18)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Andorra (2)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Armenia (6)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Austria (19)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Azerbaijan (4)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Belarus (3)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Belgium (14)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Bosnia and Herzegovina (4)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Bulgaria (11)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Croatia (3)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Cyprus (3)
                                <!--v-if-->
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane bg-white show" id="countries-asia" role="tabpanel">
            <div class="tab-pane bg-white" id="countries-asia" role="tabpanel">
                <div class="p-5">
                    <div class="d-flex flex-row flex-lg-column flex-wrap dropdown-country-lg-height-375">
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Armenia (6)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Austria (19)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Azerbaijan (4)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Belarus (3)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Belgium (14)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Bosnia and Herzegovina (4)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Bulgaria (11)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Croatia (3)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Cyprus (3)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Albania (18)
                                <!--v-if-->
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane bg-white show" id="countries-europe" role="tabpanel">
            <div class="tab-pane show active bg-white" id="countries-europe" role="tabpanel">
                <div class="p-5">
                    <div class="d-flex flex-row flex-lg-column flex-wrap dropdown-country-lg-height-375">
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Austria (19)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Azerbaijan (4)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Belarus (3)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Belgium (14)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Bosnia and Herzegovina (4)
                                <!--v-if-->
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane bg-white show" id="countries-americas" role="tabpanel">
            <div class="tab-pane bg-white" id="countries-americas" role="tabpanel">
                <div class="p-5">
                    <div class="d-flex flex-row flex-lg-column flex-wrap dropdown-country-lg-height-375">
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Albania (18)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Andorra (2)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Armenia (6)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Austria (19)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Azerbaijan (4)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Belarus (3)
                                <!--v-if-->
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane bg-white show" id="countries-oceania" role="tabpanel">
            <div class="tab-pane bg-white" id="countries-oceania" role="tabpanel">
                <div class="p-5">
                    <div class="d-flex flex-row flex-lg-column flex-wrap dropdown-country-lg-height-375">
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Albania (18)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Andorra (2)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Armenia (6)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Austria (19)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Azerbaijan (4)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Belarus (3)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Belgium (14)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Bosnia and Herzegovina (4)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Bulgaria (11)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Croatia (3)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Cyprus (3)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Albania (18)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Andorra (2)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Armenia (6)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Austria (19)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Azerbaijan (4)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Belarus (3)
                                <!--v-if-->
                            </a>
                        </div>
                        <div class="w-100 w-lg-auto">
                            <a href="#" class="a-link d-inline-block">Belgium (14)
                                <!--v-if-->
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>