<div class="container d-none d-lg-block countries-tabs py-2 bg-lighter-gray my-3">
    <ul class="nav nav-pills nav-fill border-bottom-0 m-n1 m-md-n2" id="countries-tab" role="tablist">
        <li class="nav-item mx-1 mx-md-2 mb-1 mb-md-2 active">
            <a href="#countries-africa" class="nav-link text-dark h4 font-body mb-0 p-1 p-md-2 active" data-toggle="tab" data-target="#countries-africa" role="tab" aria-selected="true">Africa</a>
        </li>
        <li class="nav-item mx-1 mx-md-2 mb-1 mb-md-2">
            <a href="#countries-asia" class="nav-link text-dark h4 font-body mb-0 p-1 p-md-2" data-toggle="tab" data-target="#countries-asia" role="tab" aria-selected="false">Asia</a>
        </li>
        <li class="nav-item mx-1 mx-md-2 mb-1 mb-md-2">
            <a href="#countries-europe" class="nav-link text-dark h4 font-body mb-0 p-1 p-md-2" data-toggle="tab" data-target="#countries-europe" role="tab" aria-selected="false">Europe</a>
        </li>
        <li class="nav-item mx-1 mx-md-2 mb-1 mb-md-2">
            <a href="#countries-americas" class="nav-link text-dark h4 font-body mb-0 p-1 p-md-2" data-toggle="tab" data-target="#countries-americas" role="tab">Americas</a>
        </li>
        <li class="nav-item mx-1 mx-md-2 mb-1 mb-md-2">
            <a href="#countries-oceania" class="nav-link text-dark h4 font-body mb-0 p-1 p-md-2" data-toggle="tab" data-target="#countries-oceania" role="tab">Oceania</a>
        </li>
    </ul>
    <div class="tab-content pt-1 pt-md-3 bg-gray" id="countries-tabContent">
        <div class="tab-pane bg-white active" id="countries-africa" role="tabpanel">
            <div class="p-5">
                <ul class="countries-cols d-flex flex-row flex-lg-column flex-wrap list-unstyled">
                    <li class="w-100 w-lg-auto">
                        <a href="https://example.com/albania" class="a-link d-inline-block">Albania (18)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Andorra (2)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Armenia (6)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Austria (19)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Azerbaijan (4)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Belarus (3)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Belgium (14)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Bosnia and Herzegovina (4)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Bulgaria (11)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Croatia (3)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Cyprus (3)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Albania (18)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Andorra (2)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Armenia (6)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Austria (19)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Azerbaijan (4)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Belarus (3)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Belgium (14)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Bosnia and Herzegovina (4)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Bulgaria (11)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Croatia (3)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Cyprus (3)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Albania (18)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Andorra (2)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Armenia (6)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Austria (19)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Azerbaijan (4)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Belarus (3)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Belgium (14)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Bosnia and Herzegovina (4)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Bulgaria (11)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Croatia (3)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Cyprus (3)</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-pane bg-white" id="countries-asia" role="tabpanel">
            <div class="p-5">
                <ul class="countries-cols d-flex flex-row flex-lg-column flex-wrap  list-unstyled">
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Armenia (6)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Austria (19)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Azerbaijan (4)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Belarus (3)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Belgium (14)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Bosnia and Herzegovina (4)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Bulgaria (11)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Croatia (3)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Cyprus (3)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Albania (18)</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-pane bg-white" id="countries-europe" role="tabpanel">
            <div class="p-5">
                <ul class="countries-cols d-flex flex-row flex-lg-column flex-wrap list-unstyled">
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Austria (19)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Azerbaijan (4)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Belarus (3)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Belgium (14)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Bosnia and Herzegovina (4)</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-pane bg-white" id="countries-americas" role="tabpanel">
            <div class="p-5">
                <ul class="countries-cols d-flex flex-row flex-lg-column flex-wrap list-unstyled">
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Albania (18)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Andorra (2)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Armenia (6)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Austria (19)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Azerbaijan (4)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Belarus (3)</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-pane bg-white" id="countries-oceania" role="tabpanel">
            <div class="p-5">
                <ul class="countries-cols d-flex flex-row flex-lg-column flex-wrap list-unstyled">
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Albania (18)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Andorra (2)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Armenia (6)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Austria (19)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Azerbaijan (4)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Belarus (3)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Belgium (14)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Bosnia and Herzegovina (4)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Bulgaria (11)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Croatia (3)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Cyprus (3)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Albania (18)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Andorra (2)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Armenia (6)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Austria (19)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Azerbaijan (4)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Belarus (3)</a>
                    </li>
                    <li class="w-100 w-lg-auto">
                        <a href="#" class="a-link d-inline-block">Belgium (14)</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container d-block d-lg-none py-5 d-block d-lg-none">
    <form id="countries-form">
        <select id="select-continent" class="custom-select mb-2" aria-label="Default select example">
            <option selected="">Select Continent</option>
        </select>
        <select id="select-country" class="custom-select" aria-label="Default select example">
            <option value="" disabled selected>Select a continent first</option>
        </select> 
        <div class="mt-3 text-center">
            <input type="submit" value="Confirm" class="btn text-uppercase btn-secondary text-white">
        </div>                       
    </form>
</div>