<div class="bg-lighter-gray p-2">
    <ul class="nav flex-column p-1 bg-white">
        <li class="nav-item">
            <a class="nav-link text-primary" href="#">01 - No poverty</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary" href="#">02 - Zero hunger</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary" href="#">03 - Good health and well-being</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  text-primary" href="#">04 - Quality education</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  text-primary" href="#">05 - Gender equality</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  text-primary" href="#">06 - Clean water and sanitation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  text-primary" href="#">07 - Affordable and clean energy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  text-primary" href="#">08 - Decent work and economic growth</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  text-primary" href="#">09 - Industry, innovation and infrastructure</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  text-primary" href="#">10 - Reduced inequalities</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  text-primary" href="#">11 - Sustainable cities and communities</a>
        </li>
    </ul>
</div>