<div class="bg-lighter-gray p-2">
<ul class="list-unstyled p-1 bg-white">
  <li><a href="#">01 - No poverty</a></li>
  <li><a href="#">02 - Zero hunger</a></li>
  <li><a href="#">03 - Good health and well-being</a></li>
  <li><a href="#">04 - Quality education</a></li>
  <li><a href="#">05 - Gender equality</a></li>
  <li><a href="#">06 - Clean water and sanitation</a></li>
  <li><a href="#">07 - Affordable and clean energy</a></li>
  <li><a href="#">08 - Decent work and economic growth</a></li>
  <li><a href="#">09 - Industry, innovation and infrastructure</a></li>
  <li><a href="#">10 - Reduced inequalities</a></li>
  <li><a href="#">11 - Sustainable cities and communities</a></li>
  <li><a href="#">12 - Responsible consumption and production</a></li>
  <li><a href="#">13 - Climate action</a></li>
  <li><a href="#">14 - Life below water</a></li>
  <li><a href="#">15 - Life on land</a></li>
  <li><a href="#">16 - Peace, justice and strong institutions</a></li>
  <li><a href="#">17 - Partnership for the goals</a></li>
</ul>
</div>