{{!-- <li class="nav-item dropdown"> --}}
    <a href="#" class="nav-link dropdown-toggle text-uppercase text-dark" data-toggle="dropdown" data-flip="false" data-target="false" role="button" aria-expanded="false" data-auto-close="false" data-placement="bottom">Subjects</a>
    <ul class="dropdown-menu bg-lighter-gray  categories categories--list dropdown-expand-lg mt-0 rounded-0 p-1 ml-lg-n1 border-0" style="">
        <li>
            <a href="categories.html" class="category-card bg-art small d-flex align-items-center justify-content-end justify-content-lg-center mb-1">
                <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Art</span>
            </a>
        </li>
        <li>
            <a href="categories.html" class="category-card bg-belief small d-flex align-items-center justify-content-end justify-content-lg-center mb-1">
                <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Belief</span>
            </a>
        </li>     
        <li>
            <a href="categories.html" class="category-card bg-craftmanship small d-flex align-items-center justify-content-end justify-content-lg-center mb-1">
                <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Craftmanship</span>
            </a>
        </li>     
        <li>
            <a href="categories.html" class="category-card bg-dance small d-flex align-items-center justify-content-end justify-content-lg-center mb-1">
                <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Dance</span>
            </a>
        </li>   
        <li>
            <a href="categories.html" class="category-card bg-entertainment small d-flex align-items-center justify-content-end justify-content-lg-center mb-1">
                <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Entertainment and recreation</span>
            </a>
        </li>     
        <li>
            <a href="categories.html" class="category-card bg-foodways small d-flex align-items-center justify-content-end justify-content-lg-center mb-1">
                <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Foodways</span>
            </a>
        </li>
        <li>
            <a href="categories.html" class="category-card bg-music small d-flex align-items-center justify-content-end justify-content-lg-center mb-1">
                <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Music</span>
            </a>
        </li> 
        <li>
            <a href="categories.html" class="category-card bg-ritual small d-flex align-items-center justify-content-end justify-content-lg-center mb-1">
                <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Ritual</span>
            </a>
        </li> 
        <li>
            <a href="categories.html" class="category-card bg-verbal small d-flex align-items-center justify-content-end justify-content-lg-center mb-1">
                <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Verbal arts &amp; Literature</span>
            </a>
        </li>
    </ul>
{{!-- </li> --}}