<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Badges | Folc Styleguide</title>
        
        <link rel="stylesheet" href="/folc-styleguide/css/main.css">
    </head>
    <body>
        <div class="container mb-4">
            <h1>Badges</h1>
            <hr>
        </div>        <div class="container">
            <div class="mb-2"><span class="badge badge-padding bg-art">Art </span></div>
            <div class="mb-2"><span class="badge badge-padding bg-belief">Belief </span></div>
            <div class="mb-2"><span class="badge badge-padding bg-craftmanship">Craftmanship </span></div>
            <div class="mb-2"><span class="badge badge-padding bg-dance">Dance </span></div>
            <div class="mb-2"><span class="badge badge-padding bg-entertainment">Entertainment </span></div>
            <div class="mb-2"><span class="badge badge-padding bg-foodways">Foodways </span></div>
            <div class="mb-2"><span class="badge badge-padding bg-music">Music </span></div>
            <div class="mb-2"><span class="badge badge-padding bg-ritual">Ritual </span></div>
            <div class="mb-2"><span class="badge badge-padding bg-verbal">Verbal </span></div>
            <div class="mb-2"><span class="badge badge-padding bg-transparent border border-secondary text-primary">Drums </span></div>
            <div class="mb-2"></div>
        </div>
    </body>
</html>