<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Buttons | Folc Styleguide</title>
        
        <link rel="stylesheet" href="/folc-styleguide/css/main.css">
    </head>
    <body>
        <div class="container mb-4">
            <h1>Buttons</h1>
            <hr>
        </div>        <div class="container">
            <div class="mb-2"><a class="btn text-uppercase btn-primary text-white text-white">Primary </a></div>
            <div class="mb-2"><a class="btn text-uppercase btn-secondary text-white">Secondary </a></div>
            <div class="mb-2"><a class="btn text-uppercase btn-info text-white">Info </a></div>
            <div class="mb-2"><a class="btn text-uppercase btn-warning text-white">Warning </a></div>
            <div class="mb-2"><a class="btn text-uppercase btn-danger text-white">Danger </a></div>
            <div class="mb-2"><a class="btn text-uppercase btn-outline-primary">Outline Primary </a></div>
            <div class="mb-2"><a class="btn text-uppercase btn-outline-secondary">Outline Secondary </a></div>
            <div class="mb-2"><a class="btn text-uppercase btn-outline-info">Outline Info </a></div>
            <div class="mb-2"><a class="btn text-uppercase btn-outline-warning">Outline Warning </a></div>
            <div class="mb-2"><a class="btn text-uppercase btn-outline-danger">Outline Danger </a></div>
            <div class="mb-2">
                <a class="text-uppercase btn text-white bg-gray d-inline-flex align-items-center" href="country.html">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="svg ml-n1" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"></path>
</svg>
                    With a back arrow
                </a>
            </div>
        </div>
    </body>
</html>