<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Cards | Folc Styleguide</title>
        
        <link rel="stylesheet" href="/folc-styleguide/css/main.css">
    </head>
    <body>
        <div class="container mb-4">
            <h1>Cards</h1>
            <hr>
        </div>        <div class="container">
            <div class="card mt-4">
                <div class="card-body">
                    <div class="card">
                        <div class="card-body">Lorem ipsum dolor sit amet</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>