<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Category Card | Folc Styleguide</title>
        
        <link rel="stylesheet" href="/folc-styleguide/css/main.css">
    </head>
    <body>
        <div class="container mb-4">
            <h1>Category Card</h1>
            <hr>
        </div>        <div class="container mt-4">
            <div class="row">
                <div class="col-md-4">
                    <div class="categories">
                        <a href="categories.html" class="category-card bg-dance small mb-1  d-flex align-items-center justify-content-end justify-content-lg-center">
                            <span class="font-heading text-white justify-content-center pl-5 mb-0 category-text">Dance</span>
                        </a>                    </div>
                </div>
            </div>
        </div>
    </body>
</html>