<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Categories | Folc Styleguide</title>
        
        <link rel="stylesheet" href="/folc-styleguide/css/main.css">
    </head>
    <body>
        <div class="container mb-4">
            <h1>Categories</h1>
            <hr>
        </div>        <div class="container mt-4">
            <div class="flex-fill">
                <h3>Categories - List</h3>
            </div>
            <div class="row categories categories--list">
                <div class="col-md-4">
                    <div>
                        <a href="#" class="category-card bg-dance small d-flex align-items-center justify-content-end justify-content-lg-center mb-1">
                            <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Dance</span>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="category-card bg-music small  d-flex  align-items-center justify-content-end justify-content-lg-center">
                            <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Music</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-4">
            <h3>Categories - Grid</h3>
        </div>
        <div class="row categories categories--grid no-gutters my-n1 mx-2 mx-lg-0 my-lg-0">
            <div class="col-12 col-lg-4 my-1 my-lg-0">
                <a href="#" class="category-card bg-art  d-flex h-lg-100 align-items-center justify-content-end justify-content-lg-center">
                <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Art</span>
                </a>
            </div>
            <div class="col-12 col-lg-4  my-1 my-lg-0">
                <a href="#" class="category-card bg-belief  d-flex h-lg-100 align-items-center justify-content-end justify-content-lg-center">
                <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Belief</span>
                </a>
            </div>
            <div class="col-12 col-lg-4  my-1 my-lg-0">
                <a href="#" class="category-card bg-craftmanship  d-flex h-lg-100 align-items-center justify-content-end justify-content-lg-center">
                <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Craftmanship</span>
                </a>
            </div>
            <div class="col-12 col-lg-4  my-1 my-lg-0">
                <a href="#" class="category-card bg-dance  d-flex h-lg-100 align-items-center justify-content-end justify-content-lg-center">
                <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Dance</span>
                </a>
            </div>
            <div class="col-12 col-lg-4  my-1 my-lg-0">
                <a href="#" class="category-card bg-entertainment  d-flex h-lg-100 align-items-center justify-content-end justify-content-lg-center">
                <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Entertainment &amp; Recreation</span>
                </a>
            </div>
            <div class="col-12 col-lg-4  my-1 my-lg-0">
                <a href="#" class="category-card bg-foodways  d-flex h-lg-100 align-items-center justify-content-end justify-content-lg-center">
                <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Foodways</span>
                </a>
            </div>
            <div class="col-12 col-lg-4  my-1 my-lg-0">
                <a href="#" class="category-card bg-music  d-flex h-lg-100 align-items-center justify-content-end justify-content-lg-center">
                <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Music</span>
                </a>
            </div>
            <div class="col-12 col-lg-4  my-1 my-lg-0">
                <a href="#" class="category-card bg-ritual  d-flex h-lg-100 align-items-center justify-content-end justify-content-lg-center">
                <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Ritual</span>
                </a>
            </div>
            <div class="col-12 col-lg-4  my-1 my-lg-0">
                <a href="#" class="category-card bg-verbal  d-flex h-lg-100 align-items-center justify-content-end justify-content-lg-center">
                <span class="font-heading text-white justify-content-center ms-5 mb-0 category-text">Verbal arts &amp; Literature</span>
                </a>
            </div>
        </div>
    </body>
</html>