<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>HR | Folc Styleguide</title>
        
        <link rel="stylesheet" href="/folc-styleguide/css/main.css">
    </head>
    <body>
        <div class="container mb-4">
            <h1>HR</h1>
            <hr>
        </div>        <div class="container">
            <hr>
        </div>
    </body>
</html>