<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Popover | Folc Styleguide</title>
        
        <link rel="stylesheet" href="/folc-styleguide/css/main.css">
    </head>
    <body>
        <div class="container mb-4">
            <h1>Popover</h1>
            <hr>
        </div>        <div class="container">
            <div>
                <div class="my-4">
                    <a href="#" class="a-link" data-container="body" data-toggle="popover" title="" data-content='<a href="#" class="a-link  with-prefix">Flamenco</a>' data-placement="bottom" data-html="true" data-original-title="Popover title">Click to toggle countries popover </a>
                    <div id="popover-content" class="d-none">
                        <a href="#" class="a-link  with-prefix">Flamenco</a>
                    </div>
                </div>
            </div>
        </div>
        <script src="/folc-styleguide/js/globals.js"></script>
        <script src="/folc-styleguide/js/lazyload.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="/folc-styleguide/js/bootstrap.js"></script>
        <script src="/folc-styleguide/js/main.js"></script>
    </body>
</html>