.card{
  &--action-getinvolved{
    .card-body {
      background-image: url(asset-url("action-card-getinvolved.svg"));
      background-color: #fff;
    }    
  }

  &--action-donate{
    .card-body {
      background-image: url(asset-url("action-card-donate.svg"));
      background-color: #fff;
    }    
  }
  
  &--action-newsletter{
    .card-body {
      background-image: url(asset-url("action-card-newsletter.svg"));
      background-color: #fff;
    }    
  }  
}

