.categories {
    &--grid {
        @include media-breakpoint-up(lg) {
            div[class^="col-"] {
                aspect-ratio: 1;
                height: 100%;
                justify-content: center;
            }
        }
    }
}