.countries-tabs{
    @include media-breakpoint-up(lg) {
        .countries-cols {
          max-height: 375px;
        }
    }
}

.border-active .nav-link {
    border-bottom: 8px solid $gray;
}

.border-active .nav-link {
    border-bottom: 8px solid $gray;
  
    &.active {
      border-color: $gray-600;
    }
  }
  