// Unified countries-tab and countries-multi-level-tabs SCSS code

.countries-tab {
    .nav-item {
        background-color: $white;
    }

    .nav-link {
        position: relative;

        &.active {
            color: $white !important;
            background-color: $gray-600;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -1em;
                height: 1em;
                width: 100%;
                background: inherit;
            }
        }
    }

    &--multi-level {
        .nav-link {
            &.active {
                background-color: $yellow;
            }
        }

        .dropdown {
            &.show {
                > .nav-link {
                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        width: 0;
                        height: 0;
                        border-left: 1em solid rgba(0, 0, 0, 0);
                        border-right: 1em solid rgba(0, 0, 0, 0);
                        border-bottom: 1em solid #0061ff;
                        bottom: -0.5em;
                        left: 30%;
                    }
                }
            }
        }

        .dropdown-menu {
            .dropdown-close {
                height: 46px;
                width: 46px;
                font-size: 2em;
                cursor: pointer;
            }
        }

        @include media-breakpoint-down(md) {
            .dropdown-header {
                background: transparent !important;

                a {
                    color: $primary !important;
                }
            }
        }
    }

    @include media-breakpoint-up(md) {
        .tab-content-inner {
            max-height: 600px;
            overflow-y: auto;
        }

        &--small {
            .tab-content-inner {
                max-height: 520px;
            }
        }
    }
}
