.countries-tabs {
    .nav-item {
        background-color: $white;

        .nav-link {
            position: relative;

            &.active {
                color: $white !important;
                background-color: $gray-600;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -1em;
                    height: 1em;
                    width: 100%;
                    background: inherit;
                }
            }
        }
    }

    @include media-breakpoint-up(md) {
        .tab-content-inner {
            max-height: 600px;
            overflow-y: auto;
        }

        &--small {
            .tab-content-inner {
                max-height: 520px;
            }
        }
    }
}