<!DOCTYPE html>
<html>
	<head>
        {{> html-head title="Categories Critical CSS" }}
        <link rel="stylesheet" href="{{ criticalUrl }}/categories.css">
	</head>
	<body>
        {{> sections/header}}
        <div class="main-content">
            {{> sections/category-header  category="dance" title="Dance" }}
            <div class="bg-lighter-gray pt-1 pb-md-3">
                {{> compounds/countries-multi-level-tabs theme="dance"}}
            </div>
        </div>

        {{> js jquery=false bootstrap=false main=false }}
    </body>
</html>
