<!DOCTYPE html>
<html>
	<head>
        {{> html-head title="Country Critical CSS" }}
        <link rel="stylesheet" href="{{ criticalUrl }}/country.css">
	</head>
	<body>
        {{> sections/header}}

        <div class="main-content">
            {{> sections/country-header}}
            <div class="bg-lighter-gray">
                {{> compounds/categories-tab}}
            </div>
        </div>

        {{> js jquery=false bootstrap=false main=false }}
    </body>
</html>
