<!DOCTYPE html>
<html>
	<head>
        {{> html-head title="Homepage Critical CSS" }}
        <link rel="stylesheet" href="{{ criticalUrl }}/homepage.css">
	</head>
	<body>
        {{> sections/header}}

        <div class="main-content">
            {{> sections/hero-search}}
        </div>

        {{> js jquery=false bootstrap=false main=false }}
    </body>
</html>
