<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Colors" }}
    </head>
    <body>
        <div class="container">
            <h1>Colors</h1>
            <hr>
        </div>
        <div class="container">
            <h2>Category colors</h2>
            <div class="bg-art text-white p-4">Art</div>
            <div class="bg-belief text-white p-4">Belief</div>
            <div class="bg-craftmanship text-white p-4">Craftmanship</div>
            <div class="bg-dance text-white p-4">Dance</div>
            <div class="bg-entertainment text-white p-4">Entertainment and recreation</div>
            <div class="bg-foodways text-white p-4">Foodways</div>
            <div class="bg-music text-white p-4">Music</div>
            <div class="bg-ritual text-white p-4">Ritual</div>
            <div class="bg-verbal text-white p-4">Verbal arts &amp; Literature</div>
        </div>
        <div class="container mt-4">
            <h2>Component colors</h2>
            <div class="bg-lighter-gray p-4">Article sidebar card background</div>
            <div class="bg-light-gray p-4">Three cards (newsletter, etc) section background</div>
            <div class="bg-primary p-4 text-white">Category dropdown background</div>
            <div class="bg-dark-gray p-4 text-white">Footer background</div>
        </div>
    </body>
</html>