<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Grid" }}
    </head>
    <body>
        {{> page-title text="Grid" }}
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="vh-100 bg-primary"></div>
                </div>
                <div class="col">
                    <div class="vh-100 bg-primary"></div>
                </div>
                <div class="col">
                    <div class="vh-100 bg-primary"></div>
                </div>
                <div class="col">
                    <div class="vh-100 bg-primary"></div>
                </div>
                <div class="col d-none d-lg-block">
                    <div class="vh-100 bg-primary"></div>
                </div>
                <div class="col d-none d-lg-block">
                    <div class="vh-100 bg-primary"></div>
                </div>
                <div class="col d-none d-lg-block">
                    <div class="vh-100 bg-primary"></div>
                </div>
                <div class="col d-none d-lg-block">
                    <div class="vh-100 bg-primary"></div>
                </div>
                <div class="col d-none d-lg-block">
                    <div class="vh-100 bg-primary"></div>
                </div>
                <div class="col d-none d-lg-block">
                    <div class="vh-100 bg-primary"></div>
                </div>
                <div class="col d-none d-lg-block">
                    <div class="vh-100 bg-primary"></div>
                </div>
                <div class="col d-none d-lg-block">
                    <div class="vh-100 bg-primary"></div>
                </div>
                <div class="col d-none d-lg-block">
                    <div class="vh-100 bg-primary"></div>
                </div>
            </div>
        </div>
    </body>
</html>