<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Typography" }}
    </head>
    <body>
        {{> page-title text="Typography" }}
        <div class="container">
            <h1>Typography | H1 | Header</h1>
            <p class="h1">H1 | Header 1 using class</p>
            <h2>H2 | Header 2</h2>
            <p class="h2">H2 | Header 2 using class</p>
            <h3>H3 | Header 3</h3>
            <p class="h3">H3 | Header 3 using class</p>
            <h4>H4 | Header 4</h4>
            <p class="h4">H4 | Header 4 using class</p>
            <p>Body</p>
            <p>
                <a href="#" class="a-link  with-prefix" target="_blank" rel="noopener noreferrer">Link with prefix</a>
            </p>
            <p>
                <a href="#" class="a-link" target="_blank" rel="noopener noreferrer">Normal link</a>
            </p>
        </div>
    </body>
</html>